Repository BinaryStudioAcademy/bsa-winter-2023-2024-trackmates, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, backend, frontend, beanstalk, ENV

.github/labeler.yml:

root: "*"

workflows: ".github/**/*"

shared: "packages/shared/**/*"

backend:
  - any:
      - "apps/backend/**/*"
      - "!apps/backend/.env.example"

frontend:
  - any:
      - "apps/frontend/**/*"
      - "!apps/frontend/.env.example"

beanstalk: ".ebextensions/**/*"

ENV:
  - "backend/.env.example"
  - "frontend/.env.example"

chore(frontend, backend, shared): move UserCourseDto to shared tm-206
  apps/backend/src/modules/user-courses/libs/types/types.ts
  apps/backend/src/modules/user-courses/user-course.service.ts
  apps/frontend/src/modules/user-courses/libs/types/types.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/user-courses/libs/types/types.ts
  packages/shared/src/modules/user-courses/libs/types/user-course-dto.type.ts
  packages/shared/src/modules/user-courses/libs/types/user-courses-response-dto.type.ts
  packages/shared/src/modules/user-courses/users-courses.ts
Labels: shared, backend, frontend

chore(frontend, backend, shared): update naming tm-206
  apps/backend/src/modules/user-courses/libs/types/types.ts
  apps/backend/src/modules/user-courses/user-course.service.ts
  apps/frontend/src/libs/components/course/course.tsx
  apps/frontend/src/libs/components/course/libs/component/course-card/course-card.tsx
  apps/frontend/src/libs/components/courses/courses.tsx
  apps/frontend/src/modules/user-courses/libs/types/types.ts
  apps/frontend/src/modules/user-courses/slices/actions.ts
  apps/frontend/src/modules/user-courses/slices/user-courses.slice.ts
  apps/frontend/src/modules/user-courses/user-courses-api.ts
  apps/frontend/src/modules/user-courses/user-courses.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/user-courses/libs/types/types.ts
  packages/shared/src/modules/user-courses/libs/types/user-course-dto.type.ts
  packages/shared/src/modules/user-courses/libs/types/user-courses-response-dto.type.ts
  packages/shared/src/modules/user-courses/users-courses.ts
Labels: shared, backend, frontend

fix: remove tabs tm-198
  .ebextensions/alb-http-to-https-redirection.config
Labels: beanstalk

fix(backend/shared): fixes after review - move sortOrder enum tm-158
  apps/backend/src/libs/enums/enums.ts
  apps/backend/src/libs/modules/database/database.ts
  apps/backend/src/libs/modules/database/libs/enums/enums.ts
  apps/backend/src/modules/activities/activity.repository.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/enums.ts
  packages/shared/src/libs/enums/sort-order.enum.ts
Labels: shared, backend

feat(frontend, backend): separate course and userCourse into different keys tm-206
  apps/backend/src/modules/user-courses/user-course.controller.ts
  apps/frontend/src/libs/components/course/course.tsx
  apps/frontend/src/libs/components/course/libs/component/course-card/course-card.tsx
  apps/frontend/src/libs/components/courses/courses.tsx
  apps/frontend/src/pages/overview/overview.tsx
Labels: backend, frontend

feat(frontend): add loader to the notifications page tm-198
  apps/frontend/src/pages/notifications/notifications.tsx
Labels: frontend

fix(frontend): move pagination logic into usePagination tm-276
  apps/frontend/src/libs/components/pagination/pagination.tsx
  apps/frontend/src/libs/hooks/use-pagination/libs/helpers/get-pages-cut.helper.ts
  apps/frontend/src/libs/hooks/use-pagination/libs/helpers/get-pages-range.helper.ts
  apps/frontend/src/libs/hooks/use-pagination/libs/helpers/helpers.ts
  apps/frontend/src/libs/hooks/use-pagination/use-pagination.hook.ts
  apps/frontend/src/pages/overview/overview.tsx
Labels: frontend

fix(frontend/backend): fix mapper and plugin name tm-310
  apps/backend/src/libs/plugins/authorization/authorization.plugin.ts
  apps/backend/src/libs/plugins/plugins.ts
  apps/backend/src/modules/vendors/libs/mapper/mappers.ts
  apps/backend/src/modules/vendors/libs/maps/maps.ts
  apps/backend/src/modules/vendors/libs/maps/udemy-course-fields-map.map.ts
  apps/backend/src/modules/vendors/libs/maps/udemy-course-section-map-fields.map.ts
  apps/backend/src/modules/vendors/udemy.service.ts
Labels: backend

fix(backend/frontend/shared): fixes after review - small fixes tm-158
  apps/backend/src/modules/activities/activity.repository.ts
  apps/backend/src/modules/activities/activity.service.ts
  apps/frontend/src/modules/activities/libs/helpers/get-activity-title/get-activity-title.helper.ts
  packages/shared/src/modules/activities/libs/types/activity-finish-section-request-dto.type.ts
  packages/shared/src/modules/activities/libs/types/activity-payload-map.type.ts
Labels: shared, backend, frontend

feat(backend): add swagger documentation for read notifications route tm-198
  apps/backend/src/modules/user-notifications/user-notification.controller.ts
Labels: backend

chore(frontend): update description tm-304
  apps/frontend/index.html
Labels: frontend

fix(backend/shared): fixes after review - ActivityCreateRequestDto tm-158
  apps/backend/src/modules/activities/activity.controller.ts
  apps/backend/src/modules/activities/libs/types/types.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/activities/activities.ts
  packages/shared/src/modules/activities/libs/types/activity-create-request-dto.type.ts
  packages/shared/src/modules/activities/libs/types/types.ts
Labels: shared, backend

chore(frontend): update app url tm-304
  apps/frontend/.env.example
Labels: none

chore: config tabs to space tm-310
  .ebextensions/alb-http-to-https-redirection.config
Labels: beanstalk

chore(frontend): update handler name tm-315
  apps/frontend/src/pages/overview/libs/components/add-course-modal/add-course-modal.tsx
Labels: frontend
