Repository BinaryStudioAcademy/bsa-winter-2023-2024-trackmates, pull requests merged in 2024-03, with the labels that each got.

#261 fix(frontend/backend): fix profile screen tm-42
  apps/backend/src/modules/users/user.controller.ts
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/modules/users/users-api.ts
  apps/frontend/src/pages/profile/profile.tsx
  apps/frontend/src/pages/profile/styles.module.css
Labels: frontend, backend

#264 feat(backend/shared): delete description column tm-251
  apps/backend/src/db/migrations/20240229181005_delete_description_from_course_sections.ts
  apps/backend/src/modules/course-sections/course-section.controller.ts
  apps/backend/src/modules/course-sections/course-section.entity.ts
  apps/backend/src/modules/course-sections/course-section.model.ts
  apps/backend/src/modules/course-sections/course-section.repository.ts
  apps/backend/src/modules/course-sections/course-section.service.ts
  apps/backend/src/modules/courses/course.service.ts
  apps/backend/src/modules/vendors/libs/enums/udemy-course-section-field.enum.ts
  apps/backend/src/modules/vendors/libs/enums/udemy-course-section-fields-mapping.enum.ts
  apps/backend/src/modules/vendors/libs/types/course-section-field-for-map.type.ts
  packages/shared/src/modules/course-sections/libs/types/course-section-create-request-dto.type.ts
  packages/shared/src/modules/course-sections/libs/types/course-section-dto.type.ts
  readme.md
Labels: backend, shared, root

#268 feat(backend): Convert text to varchar in DB for fields with a maximum length tm-265
  apps/backend/src/db/migrations/20240301085056_convert_text_to_string.ts
Labels: backend

#269 fix(backend/frontend): fix default pictures on the friends page tm-266
  apps/backend/src/modules/friends/friend.repository.ts
  apps/backend/src/modules/friends/libs/enums/enums.ts
  apps/backend/src/modules/friends/libs/enums/relation-name.enum.ts
  apps/frontend/src/assets/img/friend.jpeg
  apps/frontend/src/pages/friends/libs/components/friend/friend.tsx
Labels: frontend, backend

#278 feat(frontend): add change photo button to the my profile page tm-273
  apps/frontend/src/pages/profile/profile.tsx
  apps/frontend/src/pages/profile/styles.module.css
Labels: frontend

#262 feat: move test strategy and test plan to the GitHub tm-188
  docs/test-plan.md
  docs/test-strategy.md
Labels: qa

#263 feat(frontend): search field mobile responsiveness tm-227
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/search-bar/search-bar.tsx
  apps/frontend/src/libs/components/search-bar/styles.module.css
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/constants/pages-with-search-bar.constant.ts
  apps/frontend/src/libs/helpers/check-if-path-matching-pattern/check-if-path-matching-pattern.helper.ts
  apps/frontend/src/libs/helpers/helpers.ts
Labels: frontend

#279 fix(frontend): fix default pictures on the friend page tm-266
  apps/frontend/src/assets/img/default-avatar.png
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/constants/user.constants.ts
  apps/frontend/src/pages/chats/libs/components/chat-link/chat-link.tsx
  apps/frontend/src/pages/chats/libs/components/chat/chat.tsx
  apps/frontend/src/pages/friends/libs/components/friend/friend.tsx
  apps/frontend/src/pages/friends/libs/components/friend/styles.module.css
  apps/frontend/src/pages/profile/profile.tsx
  apps/frontend/src/pages/profile/styles.module.css
  apps/frontend/src/pages/user/user.tsx
Labels: frontend

#256 fix(frontend): fix add lightning css for css bundling tm-210
  apps/frontend/src/libs/components/auth-wrapper/styles.module.css
  apps/frontend/src/libs/components/courses/styles.module.css
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/modal/styles.module.css
  apps/frontend/src/libs/components/search-bar/styles.module.css
  apps/frontend/src/libs/components/sidebar/styles.module.css
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
  apps/frontend/src/pages/auth/components/sign-up-form/styles.module.css
  apps/frontend/src/pages/auth/styles.module.css
  apps/frontend/src/pages/friends/libs/components/friend-list/styles.module.css
  apps/frontend/src/pages/friends/styles.module.css
  apps/frontend/src/pages/overview/libs/components/welcome-section-header/styles.module.css
  apps/frontend/src/pages/overview/styles.module.css
  apps/frontend/src/pages/profile/styles.module.css
  apps/frontend/vite.config.ts
Labels: frontend

#277 fix(frontend/backend): add course functionality tm-27
  apps/backend/src/modules/user-courses/user-course.controller.ts
  apps/frontend/src/pages/overview/libs/components/add-course-modal/add-course-modal.tsx
  apps/frontend/src/pages/overview/libs/components/add-course-modal/styles.module.css
Labels: frontend, backend

#284 fix(frontend/backend): Add Friend page tm-40
  apps/backend/src/modules/user-courses/user-course.controller.ts
  apps/frontend/src/pages/user/styles.module.css
  apps/frontend/src/pages/user/user.tsx
Labels: frontend, backend

#296 fix(backend/shared): remove mutual followers check tm-290
  apps/backend/src/modules/chats/chat.service.ts
  apps/backend/src/modules/chats/chats.ts
  apps/backend/src/modules/friends/friend.repository.ts
  apps/backend/src/modules/friends/friends.ts
  package-lock.json
  packages/shared/src/libs/enums/exception-message.enum.ts
Labels: backend, shared, root

#298 feat(backend): Convert text to varchar in DB for fields with a maximum length tm-265
  apps/backend/src/db/migrations/20240303142208_limit_email_length.ts
Labels: backend

#297 feat(frontend): make add button disable after adding the course tm-291
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/course/course.tsx
Labels: frontend

#312 feat(frontend): Make the "Nickname" field on the "My Profile" page to display the updated placeholder tm-305
  apps/frontend/src/pages/profile/profile.tsx
Labels: frontend

#316 feat: add app domain and ssl tm-287
  .ebextensions/alb-http-to-https-redirection.config
  .github/labeler.yml
  .github/workflows/cd.yml
  docs/test-plan.md
  docs/test-strategy.md
  readme.md
Labels: root, workflows, beanstalk

#267 feat(frontend): add course description screen tm-28
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/assets/icons/back-arrow.svg
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/content/content.tsx
  apps/frontend/src/libs/components/content/libs/constants.ts
  apps/frontend/src/libs/components/course/course.tsx
  apps/frontend/src/libs/components/course/libs/component/component.ts
  apps/frontend/src/libs/components/course/libs/component/course-card/course-card.tsx
  apps/frontend/src/libs/components/course/libs/component/course-card/styles.module.css
  apps/frontend/src/libs/components/course/styles.module.css
  apps/frontend/src/libs/components/courses/courses.tsx
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/helpers/get-truncated-content/get-truncated-content.helper.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/modules/course-sections/course-sections-api.ts
  apps/frontend/src/modules/course-sections/course-sections.ts
  apps/frontend/src/modules/course-sections/libs/enums/enums.ts
  apps/frontend/src/modules/course-sections/libs/types/types.ts
  apps/frontend/src/modules/course-sections/slices/actions.ts
  apps/frontend/src/modules/course-sections/slices/course-sections.slice.ts
  apps/frontend/src/modules/course-sections/slices/course-sections.ts
  apps/frontend/src/modules/courses/courses-api.ts
  apps/frontend/src/modules/courses/slices/actions.ts
  apps/frontend/src/modules/courses/slices/courses.slice.ts
  apps/frontend/src/modules/courses/slices/courses.ts
  apps/frontend/src/pages/course-description/course-description.tsx
  apps/frontend/src/pages/course-description/libs/components/components.ts
  apps/frontend/src/pages/course-description/libs/components/course-details/course-details.tsx
  apps/frontend/src/pages/course-description/libs/components/course-details/libs/enums/enums.ts
  apps/frontend/src/pages/course-description/libs/components/course-details/libs/enums/tab.enum.ts
  apps/frontend/src/pages/course-description/libs/components/course-details/libs/maps/maps.ts
  apps/frontend/src/pages/course-description/libs/components/course-details/libs/maps/tab-to-readable.map.ts
  apps/frontend/src/pages/course-description/libs/components/course-details/styles.module.css
  apps/frontend/src/pages/course-description/libs/components/course-sections/course-sections.tsx
  apps/frontend/src/pages/course-description/libs/components/course-sections/styles.module.css
  apps/frontend/src/pages/course-description/styles.module.css
  apps/frontend/src/pages/overview/overview.tsx
  apps/frontend/src/pages/user/user.tsx
  package-lock.json
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/libs/helpers/get-sanitized-html/get-sanitized-html.helper.ts
  packages/shared/src/libs/helpers/helpers.ts
Labels: frontend, shared, root

#332 feat(frontend): Make the "Following" buttons on the user components on the "Friends" page and on the users' pages outlined buttons tm-317
  apps/frontend/src/pages/friends/libs/components/friend/friend.tsx
  apps/frontend/src/pages/user/user.tsx
Labels: frontend

#341 fix(frontend): The "YouTube" character is overlaid on extralong names at certain screen widths tm-330
  apps/frontend/src/pages/overview/libs/components/welcome-section-header/styles.module.css
Labels: frontend

#303 feat(frontend): course description screen mobile responsiveness tm-63
  apps/frontend/src/pages/course-description/libs/components/course-details/styles.module.css
  apps/frontend/src/pages/course-description/libs/components/course-sections/styles.module.css
  apps/frontend/src/pages/course-description/styles.module.css
Labels: frontend

#311 feat(frontend): update favicon and page titles tm-295
  apps/frontend/index.html
  apps/frontend/public/assets/android-chrome-192x192.png
  apps/frontend/public/assets/android-chrome-512x512.png
  apps/frontend/public/assets/apple-touch-icon.png
  apps/frontend/public/assets/favicon-16x16.png
  apps/frontend/public/assets/favicon-32x32.png
  apps/frontend/public/assets/favicon.ico
  apps/frontend/public/assets/mstile-150x150.png
  apps/frontend/public/assets/safari-pinned-tab.svg
  apps/frontend/public/assets/screen-desk-1440-1024.png
  apps/frontend/public/assets/screen-desk.png
  apps/frontend/public/assets/screen-tablet.png
  apps/frontend/src/libs/enums/app-title.enum.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-app-titile/use-app-title.hooks.ts
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  apps/frontend/src/pages/chats/chats.tsx
  apps/frontend/src/pages/course-description/course-description.tsx
  apps/frontend/src/pages/friends/friends.tsx
  apps/frontend/src/pages/overview/overview.tsx
  apps/frontend/src/pages/profile/profile.tsx
  apps/frontend/vite.config.ts
Labels: frontend

#314 feat(frontend): Implement Open Graph Protocol tm-304
  apps/frontend/.env.example
  apps/frontend/index.html
  apps/frontend/public/assets/socials.png
Labels: frontend

#348 feat(frontend): Make all 54px height buttons use bold (700) Roboto font tm-318
  apps/frontend/src/libs/components/sidebar/styles.module.css
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
  apps/frontend/src/pages/auth/components/sign-up-form/styles.module.css
  apps/frontend/src/pages/overview/libs/components/welcome-section-header/styles.module.css
Labels: frontend

#322 feat(frontend/backend/shared): add pagination to overview tm-276
  apps/backend/src/libs/enums/enums.ts
  apps/backend/src/libs/helpers/helpers.ts
  apps/backend/src/libs/helpers/pagination/convert-page-to-zero-indexed/convert-page-to-zero-indexed.helper.ts
  apps/backend/src/libs/helpers/pagination/pagination.ts
  apps/backend/src/libs/types/types.ts
  apps/backend/src/modules/courses/course.repository.ts
  apps/backend/src/modules/courses/courses.ts
  apps/backend/src/modules/courses/libs/types/types.ts
  apps/backend/src/modules/user-courses/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/user-courses/user-course.controller.ts
  apps/backend/src/modules/user-courses/user-course.service.ts
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/pagination/libs/components/components.ts
  apps/frontend/src/libs/components/pagination/libs/components/pagination-item/pagination-item.tsx
  apps/frontend/src/libs/components/pagination/libs/components/pagination-item/styles.module.css
  apps/frontend/src/libs/components/pagination/pagination.tsx
  apps/frontend/src/libs/components/pagination/styles.module.css
  apps/frontend/src/libs/components/search-bar/search-bar.tsx
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-pagination/libs/helpers/get-pages-cut.helper.ts
  apps/frontend/src/libs/hooks/use-pagination/libs/helpers/get-pages-range.helper.ts
  apps/frontend/src/libs/hooks/use-pagination/libs/helpers/helpers.ts
  apps/frontend/src/libs/hooks/use-pagination/use-pagination.hook.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/modules/user-courses/libs/types/types.ts
  apps/frontend/src/modules/user-courses/slices/actions.ts
  apps/frontend/src/modules/user-courses/slices/user-courses.slice.ts
  apps/frontend/src/modules/user-courses/user-courses-api.ts
  apps/frontend/src/pages/overview/overview.tsx
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/enums.ts
  packages/shared/src/libs/enums/pagination-validation-message.enum.ts
  packages/shared/src/libs/enums/pagination-validation-rule.enum.ts
  packages/shared/src/libs/enums/pagination-value.enum.ts
  packages/shared/src/libs/enums/sort-order.enum.ts
  packages/shared/src/libs/types/pagination-request-dto.ts
  packages/shared/src/libs/types/pagination-response-dto.ts
  packages/shared/src/libs/types/types.ts
  packages/shared/src/modules/courses/courses.ts
  packages/shared/src/modules/courses/libs/types/course-get-all-by-user-request-dto.ts
  packages/shared/src/modules/courses/libs/types/types.ts
  packages/shared/src/modules/user-courses/libs/validation-schemas/user-course-get-all-query.validation-schema.ts
  packages/shared/src/modules/user-courses/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/user-courses/users-courses.ts
Labels: frontend, backend, shared

#355 fix(frontend): The "YouTube" character is overlaid on extralong names at certain screen widths tm-330
  apps/frontend/src/pages/overview/libs/components/welcome-section-header/styles.module.css
Labels: frontend

#328 fix(frontend): Search results should reset after reopening the "Add course" pop-up window tm-315
  apps/frontend/src/modules/courses/slices/courses.slice.ts
  apps/frontend/src/pages/overview/libs/components/add-course-modal/add-course-modal.tsx
Labels: frontend

#320 feat(frontend/backend): quality criteria issues tm-310
  apps/backend/src/libs/plugins/authorization/authorization.plugin.ts
  apps/backend/src/libs/plugins/plugins.ts
  apps/backend/src/modules/vendors/libs/enums/enums.ts
  apps/backend/src/modules/vendors/libs/enums/udemy-page-parameter.enum.ts
  apps/backend/src/modules/vendors/libs/maps/maps.ts
  apps/backend/src/modules/vendors/libs/maps/udemy-course-section-to-course-section.map.ts
  apps/backend/src/modules/vendors/libs/maps/udemy-course-to-course.map.ts
  apps/backend/src/modules/vendors/udemy.service.ts
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/course/course.tsx
  apps/frontend/src/libs/components/header/header.tsx
Labels: frontend, backend

#354 fix(frontend): update styles and the back button of course description screen tm-28
  apps/frontend/src/libs/components/course/course.tsx
  apps/frontend/src/libs/components/course/libs/component/course-card/course-card.tsx
  apps/frontend/src/libs/components/course/styles.module.css
  apps/frontend/src/pages/course-description/course-description.tsx
  apps/frontend/src/pages/course-description/libs/components/course-details/styles.module.css
  apps/frontend/src/pages/course-description/libs/constants/constants.ts
  apps/frontend/src/pages/course-description/styles.module.css
Labels: frontend

#353 fix(frontend): Make all 54px height buttons use bold (700) Roboto font tm-318
  apps/frontend/src/libs/components/sidebar/styles.module.css
Labels: frontend

#362 feat(frontend): fix the placeholders tm-329
  apps/frontend/src/libs/components/input/styles.module.css
Labels: frontend

#369 fix(backend): fix swagger error in user course controller tm-368
  apps/backend/src/modules/user-courses/user-course.controller.ts
Labels: backend

#367 fix(frontend): fix align vertically elemetns on the friend page tm-326
  apps/frontend/src/pages/user/styles.module.css
Labels: frontend

#356 feat(backend/frontend/shared): real time chat functionality tm-113
  apps/backend/package.json
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/libs/modules/socket/libs/enums/enums.ts
  apps/backend/src/libs/modules/socket/socket-service.module.ts
  apps/backend/src/libs/modules/socket/socket.ts
  apps/backend/src/modules/chat-messages/chat-message.controller.ts
  apps/backend/src/modules/chat-messages/chat-message.service.ts
  apps/backend/src/modules/chat-messages/chat-messages.ts
  apps/backend/src/modules/chat-messages/libs/types/types.ts
  apps/frontend/.env.example
  apps/frontend/package.json
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/modules/config/base-config.module.ts
  apps/frontend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/frontend/src/libs/modules/socket/libs/enums/enums.ts
  apps/frontend/src/libs/modules/socket/socket.module.ts
  apps/frontend/src/libs/modules/socket/socket.ts
  apps/frontend/src/libs/modules/store/middlewares/chat-socket.middleware.ts
  apps/frontend/src/libs/modules/store/middlewares/middlewares.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/libs/modules/store/store.ts
  apps/frontend/src/libs/types/app-dispatch.type.ts
  apps/frontend/src/libs/types/async-thunk-config.type.ts
  apps/frontend/src/libs/types/root-state.type.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/modules/chat-messages/slices/actions.ts
  apps/frontend/src/modules/chat-messages/slices/chat-messages.slice.ts
  apps/frontend/src/modules/chats/slices/actions.ts
  apps/frontend/src/modules/chats/slices/chats.slice.ts
  apps/frontend/src/modules/chats/slices/chats.ts
  apps/frontend/src/pages/chats/chats.tsx
  apps/frontend/src/pages/chats/libs/components/chat-form/chat-form.tsx
  apps/frontend/src/pages/chats/libs/components/chat/chat.tsx
  apps/frontend/src/pages/friends/libs/components/friend/friend.tsx
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/libs/modules/socket/libs/enums/enums.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-event.enum.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-namespace.enum.ts
  packages/shared/src/libs/modules/socket/socket.ts
  packages/shared/src/modules/chat-messages/chat-messages.ts
  packages/shared/src/modules/chat-messages/libs/types/chat-message-item-with-receiver-id-response-dto.type.ts
  packages/shared/src/modules/chat-messages/libs/types/types.ts
Labels: frontend, backend, shared, root

#282 feat(frontend/backend/shared): Add Progress for courses tm-206
  apps/backend/src/modules/course-sections/course-section.model.ts
  apps/backend/src/modules/courses/course.repository.ts
  apps/backend/src/modules/courses/libs/constants/constants.ts
  apps/backend/src/modules/courses/libs/constants/no-progress-on-user-course.ts
  apps/backend/src/modules/courses/libs/types/progress-data-item.type.ts
  apps/backend/src/modules/courses/libs/types/types.ts
  apps/backend/src/modules/section-statuses/section-statuses.ts
  apps/backend/src/modules/user-courses/libs/types/types.ts
  apps/backend/src/modules/user-courses/user-course.service.ts
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/libs/components/circular-progress/circular-progress.tsx
  apps/frontend/src/libs/components/circular-progress/styles.module.css
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/course/course.tsx
  apps/frontend/src/libs/components/course/libs/component/course-card/course-card.tsx
  apps/frontend/src/libs/components/course/libs/component/course-card/styles.module.css
  apps/frontend/src/libs/components/course/libs/helpers/check-is-user-course.ts
  apps/frontend/src/libs/components/course/libs/helpers/helpers.ts
  apps/frontend/src/libs/components/course/styles.module.css
  apps/frontend/src/libs/components/courses/courses.tsx
  apps/frontend/src/libs/components/linear-progress/linear-progress.tsx
  apps/frontend/src/libs/components/linear-progress/styles.module.css
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/modules/user-courses/libs/types/types.ts
  apps/frontend/src/modules/user-courses/slices/actions.ts
  apps/frontend/src/modules/user-courses/slices/user-courses.slice.ts
  apps/frontend/src/modules/user-courses/user-courses-api.ts
  apps/frontend/src/modules/user-courses/user-courses.ts
  apps/frontend/src/pages/course-description/course-description.tsx
  apps/frontend/src/pages/course-description/libs/components/components.ts
  apps/frontend/src/pages/course-description/libs/components/course-activities/course-activities.tsx
  apps/frontend/src/pages/course-description/libs/components/course-activities/styles.module.css
  packages/shared/src/index.ts
  packages/shared/src/libs/helpers/get-percentage/get-percentage.helper.ts
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/modules/user-courses/libs/types/types.ts
  packages/shared/src/modules/user-courses/libs/types/user-course-response-dto.type.ts
  packages/shared/src/modules/user-courses/users-courses.ts
Labels: frontend, backend, shared

#292 feat(backend): add edx vendor tm-211
  apps/backend/.env.example
  apps/backend/src/db/migrations/20240302150600_add_edx_vendor.ts
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/backend/src/modules/courses/courses.ts
  apps/backend/src/modules/vendors/edx.service.ts
  apps/backend/src/modules/vendors/libs/enums/edx-api-path.enum.ts
  apps/backend/src/modules/vendors/libs/enums/edx-course-field.enum.ts
  apps/backend/src/modules/vendors/libs/enums/enums.ts
  apps/backend/src/modules/vendors/libs/maps/edx-course-to-course.map.ts
  apps/backend/src/modules/vendors/libs/maps/maps.ts
  apps/backend/src/modules/vendors/libs/types/edx-course-response-dto.type.ts
  apps/backend/src/modules/vendors/libs/types/edx-image.type.ts
  apps/backend/src/modules/vendors/libs/types/edx-media.type.ts
  apps/backend/src/modules/vendors/libs/types/edx-query.type.ts
  apps/backend/src/modules/vendors/libs/types/types.ts
  apps/backend/src/modules/vendors/libs/types/vendor-service.type.ts
  apps/backend/src/modules/vendors/vendors.ts
  apps/frontend/public/vendors/edx.svg
Labels: frontend, backend

#351 fix(frontend): The "Back" button on the "Friend profile" page doesn't navigate to the previous tab on the "Friends" page tm-325
  apps/frontend/src/libs/constants/back-navigation-step.constants.ts
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/pages/course-description/course-description.tsx
  apps/frontend/src/pages/user/user.tsx
Labels: frontend

#352 feat(frontend): change button icon on hover tm-319
  apps/frontend/src/assets/icons/plus.svg
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/pages/overview/libs/components/welcome-section-header/styles.module.css
  apps/frontend/src/pages/overview/libs/components/welcome-section-header/welcome-section-header.tsx
Labels: frontend

#366 feat(backend/frontend/shared): add search field to chats page tm-294
  apps/backend/src/modules/chats/chat.controller.ts
  apps/backend/src/modules/chats/chat.repository.ts
  apps/backend/src/modules/chats/chat.service.ts
  apps/frontend/src/modules/chats/chats-api.ts
  apps/frontend/src/modules/chats/chats.ts
  apps/frontend/src/modules/chats/libs/constants/constants.ts
  apps/frontend/src/modules/chats/libs/constants/default-search-chat-payload.ts
  apps/frontend/src/modules/chats/libs/constants/search-chat-delay-ms.ts
  apps/frontend/src/modules/chats/libs/types/types.ts
  apps/frontend/src/modules/chats/slices/actions.ts
  apps/frontend/src/pages/chats/chats.tsx
  apps/frontend/src/pages/chats/libs/components/chat-search-bar/chat-search-bar.tsx
  apps/frontend/src/pages/chats/libs/components/chat-search-bar/styles.module.css
  apps/frontend/src/pages/chats/libs/components/chat-sidebar/chat-sidebar.tsx
  apps/frontend/src/pages/chats/libs/components/chat-sidebar/styles.module.css
  apps/frontend/src/pages/chats/libs/components/chat/styles.module.css
  packages/shared/src/index.ts
  packages/shared/src/modules/chats/chats.ts
  packages/shared/src/modules/chats/libs/types/chat-search-response-dto.type.ts
  packages/shared/src/modules/chats/libs/types/types.ts
Labels: frontend, backend, shared

#383 fix(frontend): fix service worker cache issue with swagger in deployed app tm-1
  apps/frontend/vite.config.ts
  package-lock.json
Labels: frontend, root

#365 fix(frontend): The element on the Friend profile section move regarding the user name tm-327
  apps/frontend/src/pages/user/styles.module.css
Labels: frontend

#392 fix(frontend): The "YouTube" character is overlaid on extralong names at certain screen widths tm-330
  apps/frontend/src/pages/overview/libs/components/welcome-section-header/styles.module.css
Labels: frontend

#379 feat(backend/frontend/shared): add sex property to the user tm-343
  apps/backend/src/db/migrations/20240306140243_add_sex_to_the_user_details_table.ts
  apps/backend/src/modules/activities/activity.entity.ts
  apps/backend/src/modules/activities/activity.repository.ts
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/chat-messages/chat-message.repository.ts
  apps/backend/src/modules/chats/chat.repository.ts
  apps/backend/src/modules/friends/friend.repository.ts
  apps/backend/src/modules/users/libs/enums/enums.ts
  apps/backend/src/modules/users/user-details.model.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/user.entity.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.ts
  apps/backend/src/modules/users/users.ts
  apps/frontend/src/assets/icons/select-arrow.svg
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/select/select.tsx
  apps/frontend/src/libs/components/select/styles.module.css
  apps/frontend/src/libs/types/select-option.type.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/modules/users/libs/enums/enums.ts
  apps/frontend/src/modules/users/users.ts
  apps/frontend/src/pages/profile/libs/maps/maps.ts
  apps/frontend/src/pages/profile/libs/maps/user-sex-to-readable.map.ts
  apps/frontend/src/pages/profile/profile.tsx
  packages/shared/src/index.ts
  packages/shared/src/modules/users/libs/enums/enums.ts
  packages/shared/src/modules/users/libs/enums/user-sex.enum.ts
  packages/shared/src/modules/users/libs/types/user-auth-response-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-profile-request-dto.type.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-profile.validation-schema.ts
  packages/shared/src/modules/users/users.ts
  readme.md
Labels: frontend, backend, shared, root

#411 feat(frontend): close modal on esc tm-396
  apps/frontend/src/libs/components/modal/modal.tsx
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-handle-esc-press/use-handle-esc-press.hook.tsx
  apps/frontend/src/pages/overview/libs/components/welcome-section-header/styles.module.css
Labels: frontend

#408 feat(backend): make impossible to create 2 chats in a same time with the same users tm-386
  apps/backend/src/db/migrations/20240307124300_add_chat_users_unique_constraint.ts
Labels: backend

#404 feat(backend/frontend/shared): add real time notifications tm-260
  apps/backend/src/libs/modules/socket/socket-service.module.ts
  apps/backend/src/modules/notifications/notification.service.ts
  apps/backend/src/modules/notifications/notifications.ts
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/modules/store/middlewares/middlewares.ts
  apps/frontend/src/libs/modules/store/middlewares/notifications-socket.middleware.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/modules/user-notifications/slices/actions.ts
  apps/frontend/src/modules/user-notifications/slices/user-notifications.slice.ts
  apps/frontend/src/modules/user-notifications/slices/user-notifications.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-event.enum.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-namespace.enum.ts
Labels: frontend, backend, shared

#405 fix(frontend): fix loading fonts tm-389
  apps/frontend/public/assets/fonts/roboto/Roboto-Bold.ttf
  apps/frontend/public/assets/fonts/roboto/Roboto-Medium.ttf
  apps/frontend/public/assets/fonts/roboto/Roboto-Regular.ttf
  apps/frontend/src/assets/css/fonts/roboto.css
Labels: frontend

#406 fix(backend): likes shouldn't reset coments count tm-159
  apps/backend/src/modules/activities/activity.repository.ts
Labels: backend

#416 feat(backend): Implement cascade user deletion tm-402
  apps/backend/src/db/migrations/20240308093120_add_user_cascade_deletion.ts
Labels: backend

#421 fix(frontend): added course should be rendered only on the last page tm-399
  apps/frontend/src/modules/user-courses/slices/user-courses.slice.ts
  apps/frontend/src/pages/overview/overview.tsx
Labels: frontend

#423 feat(frontend): add empty page placeholders tm-398
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/empty-page-placeholder/empty-page-placeholder.tsx
  apps/frontend/src/libs/components/empty-page-placeholder/styles.module.css
  apps/frontend/src/pages/feed/feed.tsx
  apps/frontend/src/pages/friends/friends.tsx
  apps/frontend/src/pages/friends/libs/components/friends-tab/friends-tab.tsx
  apps/frontend/src/pages/notifications/notifications.tsx
  apps/frontend/src/pages/overview/overview.tsx
Labels: frontend

#407 feat(frontend/shared): Update the design of the "Chats" page tm-388
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/assets/icons/back-arrow.svg
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/pages/chats/chats.tsx
  apps/frontend/src/pages/chats/libs/components/chat-date/chat-date.tsx
  apps/frontend/src/pages/chats/libs/components/chat-date/styles.module.css
  apps/frontend/src/pages/chats/libs/components/chat-form/chat-form.tsx
  apps/frontend/src/pages/chats/libs/components/chat-form/styles.module.css
  apps/frontend/src/pages/chats/libs/components/chat-link/chat-link.tsx
  apps/frontend/src/pages/chats/libs/components/chat-link/styles.module.css
  apps/frontend/src/pages/chats/libs/components/chat-message/styles.module.css
  apps/frontend/src/pages/chats/libs/components/chat-search-bar/styles.module.css
  apps/frontend/src/pages/chats/libs/components/chat-sidebar/styles.module.css
  apps/frontend/src/pages/chats/libs/components/chat/chat.tsx
  apps/frontend/src/pages/chats/libs/components/chat/styles.module.css
  apps/frontend/src/pages/chats/libs/components/empty-chat/empty-chat.tsx
  apps/frontend/src/pages/chats/libs/components/empty-chat/styles.module.css
  apps/frontend/src/pages/chats/libs/constants/constants.ts
  apps/frontend/src/pages/chats/libs/constants/default-message-payload.constant.ts
  apps/frontend/src/pages/chats/libs/enums/enums.ts
  apps/frontend/src/pages/chats/libs/enums/message-item-option.enum.ts
  apps/frontend/src/pages/chats/libs/helpers/get-formatted-chat-date/get-formatted-chat-date.helper.ts
  apps/frontend/src/pages/chats/libs/helpers/helpers.ts
  apps/frontend/src/pages/chats/libs/helpers/prepare-message-items/prepare-message-items.helper.ts
  apps/frontend/src/pages/chats/libs/types/message-item.type.ts
  apps/frontend/src/pages/chats/libs/types/types.ts
  apps/frontend/src/pages/chats/styles.module.css
  packages/shared/src/index.ts
  packages/shared/src/libs/constants/constants.ts
  packages/shared/src/libs/constants/last-array-item.constant.ts
  packages/shared/src/libs/constants/previous-index-offset.constant.ts
  packages/shared/src/libs/enums/date-value.enum.ts
  packages/shared/src/libs/enums/format-date-type.enums.ts
  packages/shared/src/libs/helpers/check-is-date-precedes-another-by-one-day/check-is-date-precedes-another-by-one-day.helper.ts
  packages/shared/src/libs/helpers/check-is-this-year/check-is-this-year.helper.ts
  packages/shared/src/libs/helpers/check-is-today/check-is-today.helper.ts
  packages/shared/src/libs/helpers/check-is-yesterday/check-is-yesterday.helper.ts
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/modules/chat-messages/libs/enums/chat-message-validation-message.enum.ts
  packages/shared/src/modules/chat-messages/libs/validation-schemas/chat-message.validation-schema.ts
Labels: frontend, shared

#432 fix(backend): The chat search functionality doesn't allow to search the user by full name tm-425
  apps/backend/src/modules/chats/chat.repository.ts
Labels: backend

#433 fix(backend): fix bug with course progress tm-415
  apps/backend/src/modules/courses/course.repository.ts
  apps/backend/src/modules/courses/course.service.ts
Labels: backend

#435 fix(backend): fix sorting on Friends page tm-309
  apps/backend/src/modules/friends/friend.repository.ts
Labels: backend

#439 feat(frontend): friends activity mobile tm-160
  apps/frontend/src/pages/feed/feed.tsx
  apps/frontend/src/pages/feed/libs/components/feed-activity/styles.module.css
  apps/frontend/src/pages/feed/styles.module.css
Labels: frontend

#424 feat(backend/frontend): Add the "Search" field to the header on the "Notifications" page tm-293
  apps/backend/src/modules/notifications/notification.repository.ts
  apps/backend/src/modules/notifications/notification.service.ts
  apps/backend/src/modules/user-notifications/user-notification.controller.ts
  apps/frontend/src/libs/components/search-bar/libs/maps/maps.ts
  apps/frontend/src/libs/components/search-bar/libs/maps/search-page-path-to-default-value.map.ts
  apps/frontend/src/libs/components/search-bar/search-bar.tsx
  apps/frontend/src/libs/constants/pages-with-search-bar.constant.ts
  apps/frontend/src/modules/courses/courses.ts
  apps/frontend/src/modules/courses/libs/types/types.ts
  apps/frontend/src/modules/user-notifications/slices/actions.ts
  apps/frontend/src/modules/user-notifications/user-notificaitons-api.ts
Labels: frontend, backend

#427 feat(backend): Implement cascade user deletion tm-402
  apps/backend/src/db/migrations/20240309063712_add_notifications_cascade_deletion.ts
Labels: backend

#418 feat(frontend/shared): pronouns on feed page tm-344
  apps/frontend/src/modules/activities/libs/helpers/get-activity-title/get-activity-title.helper.ts
  apps/frontend/src/modules/users/libs/maps/maps.ts
  apps/frontend/src/modules/users/users.ts
  apps/frontend/src/pages/feed/feed.tsx
  packages/shared/src/index.ts
  packages/shared/src/modules/users/libs/maps/maps.ts
  packages/shared/src/modules/users/libs/maps/user-sex-to-pronoun.map.ts
  packages/shared/src/modules/users/users.ts
Labels: frontend, shared

#450 fix(frontend): Add empty page placeholders tm-398
  apps/frontend/src/modules/friends/slices/friends.slice.ts
Labels: frontend

#431 feat(backend): add users own activity tm-420
  apps/backend/src/modules/activities/activity.repository.ts
  apps/backend/src/modules/activities/libs/enums/relation-name.enum.ts
Labels: backend

#436 feat(frontend): update pagination design tm-400
  apps/frontend/src/assets/icons/nav-first.svg
  apps/frontend/src/assets/icons/nav-last.svg
  apps/frontend/src/assets/icons/nav-next.svg
  apps/frontend/src/assets/icons/nav-prev.svg
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/pagination/libs/components/pagination-item/pagination-item.tsx
  apps/frontend/src/libs/components/pagination/libs/components/pagination-item/styles.module.css
  apps/frontend/src/libs/components/pagination/pagination.tsx
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/pages/friends/libs/components/friends-tab/friends-tab.tsx
  apps/frontend/src/pages/friends/libs/components/friends-tab/styles.module.css
  apps/frontend/src/pages/friends/styles.module.css
  apps/frontend/src/pages/overview/overview.tsx
  apps/frontend/src/pages/overview/styles.module.css
Labels: frontend

#397 feat(frontend/shared): add pagination with query tm-307
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-pagination/libs/helpers/get-pages-cut/get-pages-cut.helper.ts
  apps/frontend/src/libs/hooks/use-pagination/libs/helpers/get-pages-range/get-pages-range.helper.ts
  apps/frontend/src/libs/hooks/use-pagination/libs/helpers/helpers.ts
  apps/frontend/src/libs/hooks/use-pagination/use-pagination.hook.ts
  packages/shared/src/libs/enums/pagination-value.enum.ts
Labels: frontend, shared

#430 fix(frontend): Comments from the newly opened comment section are displayed in the previously opened comment sections tm-417
  apps/frontend/src/modules/activities/slices/activities.slice.ts
  apps/frontend/src/pages/feed/libs/components/activity-comments/activity-comments.tsx
Labels: frontend

#463 fix(backend): Activity Feed Improvements tm-158
  apps/backend/src/modules/activities/activity.controller.ts
  apps/backend/src/modules/activities/activity.repository.ts
Labels: backend

#462 fix(frontend): add disabling button in each section tm-374
  apps/frontend/src/libs/components/course/course.tsx
  apps/frontend/src/modules/courses/slices/courses.slice.ts
Labels: frontend

#477 fix(frontend): make default line height of select tm-343
  apps/frontend/src/libs/components/select/styles.module.css
Labels: frontend

#475 fix(frontend): User is redirected to "Friends" page after clicking their own comment in "Comments" section on "Activities" page tm-469
  apps/frontend/src/pages/user/user.tsx
Labels: frontend

#482 feat(frontend): My profile - mobile responsiveness tm-452
  apps/frontend/src/pages/profile/profile.tsx
  apps/frontend/src/pages/profile/styles.module.css
Labels: frontend

#464 fix(frontend): feat add pagination with query tm-307
  apps/frontend/src/libs/hooks/use-pagination/use-pagination.hook.ts
Labels: frontend

#487 feat(frontend): make chat button on friend page outline tm-468
  apps/frontend/src/pages/friends/libs/components/friend/friend.tsx
Labels: frontend

#484 feat(frontend): add pagination for friend profile page tm-471
  apps/frontend/src/modules/user-courses/slices/actions.ts
  apps/frontend/src/modules/user-courses/slices/user-courses.slice.ts
  apps/frontend/src/pages/user/styles.module.css
  apps/frontend/src/pages/user/user.tsx
Labels: frontend

#486 feat(frontend/backend/shared): compare progress with a friend tm-197
  apps/backend/src/modules/courses/course.repository.ts
  apps/backend/src/modules/user-courses/user-course.controller.ts
  apps/backend/src/modules/user-courses/user-course.service.ts
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/circular-progress/styles.module.css
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/course/course.tsx
  apps/frontend/src/libs/components/course/libs/component/course-card/course-card.tsx
  apps/frontend/src/libs/components/course/styles.module.css
  apps/frontend/src/libs/components/section-status-checkbox/section-status-checkbox.tsx
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/enums/app-title.enum.ts
  apps/frontend/src/modules/section-statuses/section-statuses.ts
  apps/frontend/src/modules/section-statuses/slices/actions.ts
  apps/frontend/src/modules/section-statuses/slices/section-statuses.slice.ts
  apps/frontend/src/modules/section-statuses/slices/section-statuses.ts
  apps/frontend/src/modules/user-courses/slices/actions.ts
  apps/frontend/src/modules/user-courses/slices/user-courses.slice.ts
  apps/frontend/src/modules/user-courses/slices/user-courses.ts
  apps/frontend/src/modules/user-courses/user-courses-api.ts
  apps/frontend/src/pages/course-description/libs/components/course-activities/course-activities.tsx
  apps/frontend/src/pages/course-description/libs/components/course-activities/styles.module.css
  apps/frontend/src/pages/course-progress-comparison/course-progress-comparison.tsx
  apps/frontend/src/pages/course-progress-comparison/libs/components/components.ts
  apps/frontend/src/pages/course-progress-comparison/libs/components/progress-chart/progress-chart.tsx
  apps/frontend/src/pages/course-progress-comparison/libs/components/progress-chart/styles.module.css
  apps/frontend/src/pages/course-progress-comparison/libs/components/section-comparison/section-comparison.tsx
  apps/frontend/src/pages/course-progress-comparison/libs/components/section-comparison/styles.module.css
  apps/frontend/src/pages/course-progress-comparison/libs/helpers/get-status-by-section-id/get-status-by-section-id.helper.ts
  apps/frontend/src/pages/course-progress-comparison/libs/helpers/get-user-progress/get-user-progress.helper.ts
  apps/frontend/src/pages/course-progress-comparison/libs/helpers/helpers.ts
  apps/frontend/src/pages/course-progress-comparison/styles.module.css
  apps/frontend/src/pages/user/user.tsx
  packages/shared/src/modules/user-courses/libs/enums/user-courses-api-path.enum.ts
Labels: frontend, backend, shared

#490 fix(frontend): filter notifications by type tm-288
  apps/frontend/src/pages/notifications/notifications.tsx
Labels: frontend

#467 fix(backend/frontend/shared): Update the design of the "Chats" page tm-388
  apps/backend/src/libs/constants/constants.ts
  apps/backend/src/libs/types/types.ts
  apps/backend/src/modules/friends/friend.repository.ts
  apps/backend/src/modules/notifications/notification.repository.ts
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/pages/chats/libs/components/chat-form/styles.module.css
  apps/frontend/src/pages/chats/libs/components/chat-message/styles.module.css
  apps/frontend/src/pages/chats/libs/components/chat-sidebar/chat-sidebar.tsx
  apps/frontend/src/pages/chats/libs/helpers/get-formatted-chat-date/get-formatted-chat-date.helper.ts
  apps/frontend/src/pages/chats/styles.module.css
  apps/frontend/src/pages/course-description/course-description.tsx
  apps/frontend/src/pages/feed/feed.tsx
  apps/frontend/src/pages/friends/libs/components/friends-tab/friends-tab.tsx
  apps/frontend/src/pages/notifications/libs/components/notification-list/notification-list.tsx
  apps/frontend/src/pages/notifications/notifications.tsx
  apps/frontend/src/pages/overview/libs/components/add-course-modal/add-course-modal.tsx
  apps/frontend/src/pages/overview/overview.tsx
  apps/frontend/src/pages/user/user.tsx
  packages/shared/src/index.ts
  packages/shared/src/libs/constants/constants.ts
  packages/shared/src/libs/constants/empty-array-length.constant.ts
  packages/shared/src/libs/constants/empty-length.constant.ts
  packages/shared/src/libs/enums/date-value.enum.ts
Labels: frontend, backend, shared

#491 fix(frontend): fix the log out button is shown in two rows tm-480
  apps/frontend/src/libs/components/sidebar/styles.module.css
  apps/frontend/src/pages/user/user.tsx
Labels: frontend

#494 fix(backend): fix pagination on the "Find friends" tab tm-454
  apps/backend/src/modules/friends/friend.repository.ts
Labels: backend

#483 fix(frontend): The "Follow" / "Following" buttons on user components are not updated on the new tab after following / unfollowing the users tm-444
  apps/frontend/src/modules/friends/slices/friends.slice.ts
  apps/frontend/src/pages/friends/friends.tsx
  apps/frontend/src/pages/friends/libs/components/friend/friend.tsx
Labels: frontend

#455 feat(backend/frontend/shared): implement counters for unread notifications and chats tm-395
  apps/backend/src/modules/chat-messages/chat-message.controller.ts
  apps/backend/src/modules/chat-messages/chat-message.entity.ts
  apps/backend/src/modules/chat-messages/chat-message.repository.ts
  apps/backend/src/modules/chat-messages/chat-message.service.ts
  apps/backend/src/modules/chat-messages/libs/types/types.ts
  apps/backend/src/modules/chat-messages/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/chats/chat.controller.ts
  apps/backend/src/modules/chats/chat.repository.ts
  apps/backend/src/modules/chats/chat.service.ts
  apps/backend/src/modules/notifications/notification.repository.ts
  apps/backend/src/modules/notifications/notification.service.ts
  apps/backend/src/modules/user-notifications/user-notification.controller.ts
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/libs/constants/constants.ts
  apps/frontend/src/libs/components/header/libs/constants/maximum-display-unread-count.constant.ts
  apps/frontend/src/libs/components/header/libs/helpers/get-unread-display-value/get-unread-display-value.helper.ts
  apps/frontend/src/libs/components/header/libs/helpers/helpers.ts
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/modules/store/middlewares/chat-socket.middleware.ts
  apps/frontend/src/libs/modules/store/middlewares/notifications-socket.middleware.ts
  apps/frontend/src/modules/chat-messages/chat-messages-api.ts
  apps/frontend/src/modules/chat-messages/libs/types/types.ts
  apps/frontend/src/modules/chat-messages/slices/actions.ts
  apps/frontend/src/modules/chat-messages/slices/chat-messages.slice.ts
  apps/frontend/src/modules/chat-messages/slices/chat-messages.ts
  apps/frontend/src/modules/chats/chats-api.ts
  apps/frontend/src/modules/chats/slices/actions.ts
  apps/frontend/src/modules/chats/slices/chats.slice.ts
  apps/frontend/src/modules/chats/slices/chats.ts
  apps/frontend/src/modules/user-notifications/slices/actions.ts
  apps/frontend/src/modules/user-notifications/slices/user-notifications.slice.ts
  apps/frontend/src/modules/user-notifications/slices/user-notifications.ts
  apps/frontend/src/modules/user-notifications/user-notificaitons-api.ts
  apps/frontend/src/pages/chats/libs/components/chat-message/chat-message.tsx
  apps/frontend/src/pages/chats/libs/components/chat/chat.tsx
  apps/frontend/src/pages/chats/libs/constants/constants.ts
  apps/frontend/src/pages/chats/libs/constants/read-chat-message-delay-ms.constant.ts
  apps/frontend/src/pages/notifications/libs/components/notification-list-item/notification-list-item.tsx
  apps/frontend/src/pages/notifications/libs/enums/enums.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/chat-messages/chat-messages.ts
  packages/shared/src/modules/chat-messages/libs/enums/chat-message-validation-message.enum.ts
  packages/shared/src/modules/chat-messages/libs/enums/chat-message-validation-rule.enum.ts
  packages/shared/src/modules/chat-messages/libs/enums/chat-messages-api-path.enum.ts
  packages/shared/src/modules/chat-messages/libs/types/chat-message-update-request-dto.type.ts
  packages/shared/src/modules/chat-messages/libs/types/read-chat-messages-request-dto.type.ts
  packages/shared/src/modules/chat-messages/libs/types/types.ts
  packages/shared/src/modules/chat-messages/libs/validation-schemas/read-chat-messages-request.validation-schema.ts
  packages/shared/src/modules/chat-messages/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/chats/libs/enums/chats-api-path.enum.ts
  packages/shared/src/modules/user-notifications/enums/user-notifications-api-path.enum.ts
Labels: frontend, backend, shared

#497 feat(frontend): add transitions during changing the state of the element tm-492
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/circular-progress/styles.module.css
  apps/frontend/src/libs/components/course/styles.module.css
  apps/frontend/src/libs/components/pagination/libs/components/pagination-item/styles.module.css
  apps/frontend/src/libs/components/sidebar/styles.module.css
  apps/frontend/src/pages/feed/libs/components/feed-activity/styles.module.css
  apps/frontend/src/pages/friends/libs/components/friend/styles.module.css
  apps/frontend/src/pages/notifications/styles.module.css
Labels: frontend

#496 feat(frontend): chats mobile responsiveness tm-476
  apps/frontend/src/pages/chats/chats.tsx
  apps/frontend/src/pages/chats/libs/components/chat-link/chat-link.tsx
  apps/frontend/src/pages/chats/libs/components/chat-link/styles.module.css
  apps/frontend/src/pages/chats/libs/components/chat-search-bar/styles.module.css
  apps/frontend/src/pages/chats/libs/components/chat-sidebar/chat-sidebar.tsx
  apps/frontend/src/pages/chats/libs/components/chat-sidebar/styles.module.css
  apps/frontend/src/pages/chats/libs/components/chat/chat.tsx
  apps/frontend/src/pages/chats/libs/components/empty-chat/empty-chat.tsx
  apps/frontend/src/pages/chats/styles.module.css
Labels: frontend

#509 fix(frontend): fix position of loader and add loader to the button tm-488
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/course/course.tsx
  apps/frontend/src/libs/components/loader/loader.tsx
  apps/frontend/src/libs/components/loader/styles.module.css
  apps/frontend/src/libs/components/protected-route/protected-route.tsx
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/modules/courses/slices/courses.slice.ts
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  apps/frontend/src/pages/feed/styles.module.css
  apps/frontend/src/pages/notifications/styles.module.css
  apps/frontend/src/pages/overview/libs/components/add-course-modal/styles.module.css
  apps/frontend/src/pages/overview/styles.module.css
  apps/frontend/src/pages/profile/profile.tsx
Labels: frontend

#466 feat(backend): add like notification tm-445
  apps/backend/src/db/migrations/20240313080003_add_action_id_to_notifications.ts
  apps/backend/src/modules/activities/activities.ts
  apps/backend/src/modules/activities/activity.service.ts
  apps/backend/src/modules/comments/comment.service.ts
  apps/backend/src/modules/friends/friend.service.ts
  apps/backend/src/modules/notifications/notification.entity.ts
  apps/backend/src/modules/notifications/notification.model.ts
  apps/backend/src/modules/notifications/notification.repository.ts
  apps/backend/src/modules/notifications/notification.service.ts
  apps/backend/src/modules/section-statuses/section-statuses.ts
  apps/frontend/src/libs/modules/store/middlewares/notifications-socket.middleware.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-event.enum.ts
  packages/shared/src/modules/notifications/libs/types/create-notification-request-dto.type.ts
  packages/shared/src/modules/notifications/libs/types/update-notification-request-dto.type.ts
  readme.md
Labels: frontend, backend, shared, root

#504 feat(frontend): Update the design of the "Notifications" page tm-447
  apps/frontend/src/assets/img/notification-character-with-blue-boot.svg
  apps/frontend/src/assets/img/notification-character-with-red-boot.svg
  apps/frontend/src/assets/img/notification-character.svg
  apps/frontend/src/pages/notifications/libs/components/notification-list-item/notification-list-item.tsx
  apps/frontend/src/pages/notifications/libs/components/notification-list-item/styles.module.css
  apps/frontend/src/pages/notifications/libs/components/notification-list/styles.module.css
  apps/frontend/src/pages/notifications/notifications.tsx
  apps/frontend/src/pages/notifications/styles.module.css
Labels: frontend

#510 fix(frontend): Hide previous state of the data from the store on all pages tm-506
  apps/frontend/src/libs/components/sidebar/sidebar.tsx
  apps/frontend/src/modules/courses/slices/courses.slice.ts
  apps/frontend/src/modules/user-courses/slices/user-courses.slice.ts
  apps/frontend/src/pages/course-description/course-description.tsx
Labels: frontend

#515 fix(frontend): The "Follow" / "Following" buttons on user components are not updated on the new tab after following / unfollowing the users tm-444
  apps/frontend/src/pages/friends/friends.tsx
Labels: frontend

#518 fix(frontend): Selected chat remains activated after clicking "Back" button on the "Chats" page tm-514
  apps/frontend/src/pages/chats/libs/components/chat/chat.tsx
Labels: frontend

#517 fix(frontend): "Change photo" button is shown in 2 rows on the My profile page tm-511
  apps/frontend/src/pages/profile/styles.module.css
Labels: frontend

#507 fix(frontend): Email field on the Auth page has "text" type tm-481
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Labels: frontend

#521 fix(backend): counters for unread chats tm-395
  apps/backend/src/modules/chats/chat.repository.ts
Labels: backend

#524 feat(frontend): add friend profile mobile responsiveness tm-453
  apps/frontend/src/pages/user/styles.module.css
Labels: frontend

#520 feat(frontend): Notifications - mobile responsiveness tm-508
  apps/frontend/src/pages/notifications/libs/components/notification-list-item/notification-list-item.tsx
  apps/frontend/src/pages/notifications/libs/components/notification-list-item/styles.module.css
  apps/frontend/src/pages/notifications/libs/components/notification-list/styles.module.css
  apps/frontend/src/pages/notifications/styles.module.css
Labels: frontend

#525 fix(frontend): fix position of loader and add loader to the button tm-488
  apps/frontend/src/libs/components/sidebar/styles.module.css
Labels: frontend

#528 feat(frontend/shared): The "Something went wrong..." toast-message should appear instead of an empty error toast-message tm-523
  apps/frontend/src/libs/modules/store/middlewares/handle-error.middleware.ts
  packages/shared/src/libs/enums/exception-message.enum.ts
Labels: frontend, shared

#529 fix(shared): Typo in chats' validation message tm-513
  packages/shared/src/modules/chat-messages/libs/enums/chat-message-validation-message.enum.ts
Labels: shared

#531 feat(frontend/backend/shared): Make "Udemy" the default vendor on the "Add Course" pop-up window tm-522
  apps/backend/src/modules/vendors/libs/enums/enums.ts
  apps/backend/src/modules/vendors/vendor.entity.ts
  apps/backend/src/modules/vendors/vendor.model.ts
  apps/frontend/src/modules/vendors/libs/enums/enums.ts
  apps/frontend/src/modules/vendors/vendors.ts
  apps/frontend/src/pages/overview/libs/helpers/get-default-vendors.helper.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/vendors/libs/enums/enums.ts
  packages/shared/src/modules/vendors/libs/enums/vendor-key.enum.ts
  packages/shared/src/modules/vendors/libs/types/vendor-request-dto.type.ts
  packages/shared/src/modules/vendors/libs/types/vendor-response-dto.type.ts
  packages/shared/src/modules/vendors/vendors.ts
Labels: frontend, backend, shared

#526 feat: move specification to the GitHub tm-187
  docs/specification.md
Labels: qa

#539 fix(frontend): Hide previous state of the data from the store on all pages tm-506
  apps/frontend/src/modules/course-sections/slices/course-sections.slice.ts
  apps/frontend/src/modules/section-statuses/slices/section-statuses.slice.ts
  apps/frontend/src/pages/course-description/course-description.tsx
Labels: frontend

#544 feat(frontend): search by url tm-470
  apps/frontend/src/libs/components/search-bar/libs/enums/enums.ts
  apps/frontend/src/libs/components/search-bar/search-bar.tsx
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/query-parameter-name.enum.ts
  apps/frontend/src/pages/notifications/libs/enums/enums.ts
  apps/frontend/src/pages/notifications/notifications.tsx
  apps/frontend/src/pages/overview/overview.tsx
Labels: frontend

#547 fix(frontend): change cursor style over counter badge tm-395
  apps/frontend/src/libs/components/header/styles.module.css
Labels: frontend

#548 feat(frontend): incoming notification presentation tm-498
  apps/frontend/src/libs/modules/store/middlewares/notifications-socket.middleware.ts
  apps/frontend/src/modules/user-notifications/slices/user-notifications.slice.ts
  apps/frontend/src/pages/notifications/notifications.tsx
Labels: frontend

#550 feat(frontend): Update the design of the "Notifications" page tm-447
  apps/frontend/src/pages/notifications/styles.module.css
Labels: frontend

#552 fix(frontend): friend profile responsiveness tm-453
  apps/frontend/src/pages/user/styles.module.css
Labels: frontend

#553 feat: add links to new documents in the readme file tm-549
  readme.md
Labels: root

#564 feat(frontend): add transitions to comments tm-541
  apps/frontend/src/pages/feed/libs/components/feed-activity/feed-activity.tsx
  apps/frontend/src/pages/feed/libs/components/feed-activity/styles.module.css
Labels: frontend

#562 feat(frontend): pagination should not be displayed if there is only one page tm-502
  apps/frontend/src/libs/hooks/use-pagination/libs/helpers/check-is-valid-page/check-is-valid-page.helper.ts
  apps/frontend/src/libs/hooks/use-pagination/libs/helpers/helpers.ts
  apps/frontend/src/libs/hooks/use-pagination/use-pagination.hook.ts
  apps/frontend/src/pages/friends/friends.tsx
  apps/frontend/src/pages/friends/libs/components/friends-tab/friends-tab.tsx
Labels: frontend

#572 fix(frontend): Hide previous state of the data from the store on all pages tm-506
  apps/frontend/src/modules/friends/slices/friends.slice.ts
  apps/frontend/src/modules/users/slices/users.slice.ts
  apps/frontend/src/pages/user/user.tsx
Labels: frontend

#575 fix(frontend): fix scrollbar appearance during transitions of comments tm-541
  apps/frontend/src/pages/feed/libs/components/activity-comments/styles.module.css
  apps/frontend/src/pages/feed/libs/components/feed-activity/feed-activity.tsx
  apps/frontend/src/pages/feed/libs/components/feed-activity/styles.module.css
Labels: frontend

#578 fix(frontend): PWA sidebar mobile responsiveness tm-563
  apps/frontend/src/assets/icons/activities.svg
  apps/frontend/src/libs/components/auth-wrapper/styles.module.css
  apps/frontend/src/libs/components/sidebar/styles.module.css
  apps/frontend/src/pages/overview/styles.module.css
Labels: frontend

#551 fix(frontend/shared): Input fields on "Chats" and "Activities" pages tm-546
  apps/frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  apps/frontend/src/pages/chats/libs/components/chat-form/chat-form.tsx
  apps/frontend/src/pages/feed/libs/components/activity-comment-form/activity-comment-form.tsx
  packages/shared/src/modules/comments/libs/enums/comment-validation-message.enum.ts
Labels: frontend, shared

#587 feat(frontend): customized scrollbar everywhere tm-560
  apps/frontend/src/assets/css/scaffolding.css
  apps/frontend/src/pages/chats/libs/components/chat-sidebar/styles.module.css
  apps/frontend/src/pages/chats/libs/components/chat/styles.module.css
Labels: frontend

#588 fix(frontend): The "Sign In | TrackMates" page title is shown after trying going back from "Overview" page tm-566
  apps/frontend/src/pages/auth/auth.tsx
Labels: frontend

#573 feat(frontend): implement icons for each type of notifications tm-559
  apps/frontend/src/assets/icons/follower.svg
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/pages/notifications/libs/components/notification-list-item/libs/maps/maps.ts
  apps/frontend/src/pages/notifications/libs/components/notification-list-item/libs/maps/notification-type-to-icon-name.map.ts
  apps/frontend/src/pages/notifications/libs/components/notification-list-item/notification-list-item.tsx
  apps/frontend/src/pages/notifications/libs/components/notification-list-item/styles.module.css
  apps/frontend/src/pages/notifications/libs/components/notification-list/notification-list.tsx
  apps/frontend/src/pages/notifications/notifications.tsx
Labels: frontend

#586 feat(frontend): pagination should not be displayed if there is only one page tm-502
  apps/frontend/src/libs/components/pagination/pagination.tsx
Labels: frontend

#582 fix(frontend): Real-time notifications don't appear on the "All" tab of the "Notifications" page tm-571
  apps/frontend/src/pages/notifications/notifications.tsx
Labels: frontend

#585 fix(frontend): "Chat" buttons on user components are shifted to the right outside the components [Mobile] tm-565
  apps/frontend/src/assets/icons/chats.svg
  apps/frontend/src/pages/friends/libs/components/friend-list/styles.module.css
  apps/frontend/src/pages/friends/libs/components/friend/styles.module.css
  apps/frontend/src/pages/friends/styles.module.css
Labels: frontend

#589 feat(backend/frontend/shared): update design of activities page tm-555
  apps/backend/src/modules/activities/activity.entity.ts
  apps/backend/src/modules/activities/activity.repository.ts
  apps/backend/src/modules/activities/activity.service.ts
  apps/frontend/src/assets/icons/like.svg
  apps/frontend/src/assets/img/activities-character.svg
  apps/frontend/src/libs/components/empty-page-placeholder/empty-page-placeholder.tsx
  apps/frontend/src/libs/components/empty-page-placeholder/styles.module.css
  apps/frontend/src/libs/components/loader/loader.tsx
  apps/frontend/src/pages/feed/feed.tsx
  apps/frontend/src/pages/feed/libs/components/activity-comment-form/activity-comment-form.tsx
  apps/frontend/src/pages/feed/libs/components/activity-comment-form/styles.module.css
  apps/frontend/src/pages/feed/libs/components/activity-comments/activity-comments.tsx
  apps/frontend/src/pages/feed/libs/components/activity-comments/styles.module.css
  apps/frontend/src/pages/feed/libs/components/comment-card/styles.module.css
  apps/frontend/src/pages/feed/libs/components/feed-activity-list/feed-activity-list.tsx
  apps/frontend/src/pages/feed/libs/components/feed-activity-list/styles.module.css
  apps/frontend/src/pages/feed/libs/components/feed-activity/feed-activity.tsx
  apps/frontend/src/pages/feed/libs/components/feed-activity/styles.module.css
  apps/frontend/src/pages/feed/styles.module.css
  apps/frontend/src/pages/friends/libs/components/friends-tab/friends-tab.tsx
  apps/frontend/src/pages/notifications/notifications.tsx
  apps/frontend/src/pages/overview/overview.tsx
  apps/frontend/src/pages/user/user.tsx
  packages/shared/src/modules/activities/libs/types/activity-counts.type.ts
  packages/shared/src/modules/activities/libs/types/activity-response-dto.type.ts
Labels: frontend, backend, shared

#474 feat(frontend/backend/shared): uam delete users tm-232
  apps/backend/src/libs/hooks/check-by-parameter-if-not-the-same-user/check-by-parameter-if-not-the-same-user.hook.ts
  apps/backend/src/libs/hooks/check-user-permissions/check-user-permissions.hook.ts
  apps/backend/src/libs/hooks/hooks.ts
  apps/backend/src/libs/modules/controller/libs/types/controller-route-parameters.type.ts
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/modules/server-application/libs/types/server-application-route-parameters.type.ts
  apps/backend/src/modules/groups/group.controller.ts
  apps/backend/src/modules/permissions/permission.controller.ts
  apps/backend/src/modules/permissions/permissions.ts
  apps/backend/src/modules/users/libs/enums/enums.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/users.ts
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/modules/notification/libs/enums/notification-message.enum.ts
  apps/frontend/src/modules/management/slices/management.slice.ts
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/modules/users/slices/users.ts
  apps/frontend/src/modules/users/users-api.ts
  apps/frontend/src/pages/management/libs/components/actions-cell/actions-cell.tsx
  apps/frontend/src/pages/management/libs/components/actions-cell/styles.module.css
  apps/frontend/src/pages/management/libs/components/users-tab/styles.module.css
  apps/frontend/src/pages/management/libs/components/users-tab/users-tab.tsx
  apps/frontend/src/pages/management/libs/enums/management-dialogue-message.enum.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/users/libs/enums/enums.ts
  packages/shared/src/modules/users/libs/enums/user-error-message.enum.ts
  packages/shared/src/modules/users/users.ts
Labels: frontend, backend, shared

#592 fix(frontend): update design of activities page tm-555
  apps/frontend/src/pages/feed/libs/components/feed-activity-list/styles.module.css
  apps/frontend/src/pages/feed/libs/components/feed-activity/feed-activity.tsx
  apps/frontend/src/pages/feed/libs/components/feed-activity/styles.module.css
  apps/frontend/src/pages/feed/styles.module.css
Labels: frontend

#594 fix(frontend): The "Log Out" button can't be reached on the sidebar in landscape mode [Mobile] tm-567
  apps/frontend/src/assets/icons/log-out.svg
  apps/frontend/src/libs/components/sidebar/sidebar.tsx
  apps/frontend/src/libs/components/sidebar/styles.module.css
Labels: frontend

#596 feat(frontend): change vendors title to logo tm-558
  apps/frontend/src/pages/management/libs/components/courses-tab/libs/components/course-columns/course-columns.tsx
Labels: frontend

#605 fix(frontend): update design of activities page tm-555
  apps/frontend/src/pages/feed/libs/components/feed-activity/styles.module.css
  apps/frontend/src/pages/feed/styles.module.css
Labels: frontend

#604 fix(frontend): add course pop-up "Load more" button position tm-537
  apps/frontend/src/pages/overview/libs/components/add-course-modal/styles.module.css
Labels: frontend

#583 feat(frontend): change buttons in the pagination to links tm-534
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/link/link.tsx
  apps/frontend/src/libs/components/pagination/libs/components/pagination-item/pagination-item.tsx
  apps/frontend/src/libs/components/pagination/libs/components/pagination-item/styles.module.css
  apps/frontend/src/libs/components/pagination/pagination.tsx
  apps/frontend/src/libs/hooks/use-pagination/use-pagination.hook.ts
  apps/frontend/src/pages/friends/libs/components/friends-tab/friends-tab.tsx
  apps/frontend/src/pages/overview/overview.tsx
  apps/frontend/src/pages/user/user.tsx
Labels: frontend

#595 fix(frontend): "Chat" buttons on user components are shifted to the right outside the components [Mobile] tm-565
  apps/frontend/src/assets/icons/chats.svg
  apps/frontend/src/pages/friends/libs/components/friend/styles.module.css
Labels: frontend

#603 feat(frontend): update activities messages tm-556
  apps/frontend/src/modules/activities/libs/helpers/check-is-finish-section-activity/check-is-finish-section-activity.helper.ts
  apps/frontend/src/modules/activities/libs/helpers/get-activity-title/get-activity-title.helper.ts
  apps/frontend/src/modules/activities/libs/helpers/get-activity-title/get-others-activity-title.helper.ts
  apps/frontend/src/modules/activities/libs/helpers/get-activity-title/get-own-activity-title.helper.ts
  apps/frontend/src/modules/activities/libs/types/types.ts
  apps/frontend/src/pages/feed/libs/components/feed-activity/feed-activity.tsx
  packages/shared/src/index.ts
  packages/shared/src/modules/activities/activities.ts
Labels: frontend, shared

#609 fix(frontend): The Back button does not navigate to the previous page on the Friend's profile page tm-535
  apps/frontend/src/libs/hooks/use-pagination/use-pagination.hook.ts
Labels: frontend

#597 fix(frontend): buttons should not have hover effect on mobile devices tm-574
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/course/styles.module.css
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/libs/components/sidebar/styles.module.css
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
  apps/frontend/src/pages/auth/components/sign-up-form/styles.module.css
  apps/frontend/src/pages/chats/libs/components/chat-link/styles.module.css
  apps/frontend/src/pages/course-description/libs/components/course-details/styles.module.css
  apps/frontend/src/pages/feed/libs/components/feed-activity/styles.module.css
  apps/frontend/src/pages/friends/libs/components/friend-list/styles.module.css
  apps/frontend/src/pages/friends/libs/components/friend/styles.module.css
  apps/frontend/src/pages/management/libs/components/actions-cell/styles.module.css
  apps/frontend/src/pages/management/libs/components/groups-tab/styles.module.css
  apps/frontend/src/pages/notifications/styles.module.css
  apps/frontend/src/pages/overview/libs/components/welcome-section-header/styles.module.css
Labels: frontend

#613 fix(frontend): Dates on notification elements are shifted up and overlapped by the new notification indicator [Mobile] tm-579
  apps/frontend/src/pages/notifications/libs/components/notification-list-item/styles.module.css
Labels: frontend

#409 docs: add application schema tm-213
  .github/labeler.yml
  readme.md
Labels: root, workflows

#614 fix(frontend): Add titles for the Friend profile and Not found pages tm-601
  apps/frontend/src/libs/enums/app-title.enum.ts
  apps/frontend/src/pages/not-found/not-found.tsx
  apps/frontend/src/pages/user/user.tsx
Labels: frontend

#615 fix(frontend): Compare progress mobile responsiveness tm-602
  apps/frontend/src/libs/components/checkbox/styles.module.css
  apps/frontend/src/pages/course-progress-comparison/styles.module.css
Labels: frontend

#616 fix(frontend): align pagination on ios tm-577
  apps/frontend/src/assets/icons/nav-first.svg
  apps/frontend/src/assets/icons/nav-last.svg
  apps/frontend/src/assets/icons/nav-next.svg
  apps/frontend/src/assets/icons/nav-prev.svg
Labels: frontend

#617 fix(frontend): message word break tm-576
  apps/frontend/src/pages/chats/libs/components/chat-message/styles.module.css
Labels: frontend

#620 fix(frontend): Courses on the "Overview" page disappear and reappear, when a new course is being added on the "Add course" pop-up window tm-610
  apps/frontend/src/modules/user-courses/slices/user-courses.slice.ts
Labels: frontend

#568 feat(backend/frontend/shared): UAM (User Access Management) - Courses tm-231
  apps/backend/src/modules/courses/course.controller.ts
  apps/backend/src/modules/courses/course.repository.ts
  apps/backend/src/modules/courses/course.service.ts
  apps/backend/src/modules/courses/libs/types/types.ts
  apps/backend/src/modules/courses/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/modules/notification/libs/enums/notification-message.enum.ts
  apps/frontend/src/modules/courses/courses-api.ts
  apps/frontend/src/modules/courses/courses.ts
  apps/frontend/src/modules/courses/libs/types/types.ts
  apps/frontend/src/modules/courses/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/courses/slices/actions.ts
  apps/frontend/src/modules/courses/slices/courses.slice.ts
  apps/frontend/src/modules/courses/slices/courses.ts
  apps/frontend/src/pages/management/libs/components/components.ts
  apps/frontend/src/pages/management/libs/components/courses-tab/courses-tab.tsx
  apps/frontend/src/pages/management/libs/components/courses-tab/libs/components/components.ts
  apps/frontend/src/pages/management/libs/components/courses-tab/libs/components/course-columns/course-columns.tsx
  apps/frontend/src/pages/management/libs/components/courses-tab/libs/components/course-columns/styles.module.css
  apps/frontend/src/pages/management/libs/components/courses-tab/libs/components/edit-course-modal/edit-course-modal.tsx
  apps/frontend/src/pages/management/libs/components/courses-tab/libs/components/edit-course-modal/styles.module.css
  apps/frontend/src/pages/management/libs/components/courses-tab/libs/constants/constants.ts
  apps/frontend/src/pages/management/libs/components/courses-tab/libs/constants/courses-table-headers.constant.ts
  apps/frontend/src/pages/management/libs/components/courses-tab/libs/enums/courses-table-header.enum.ts
  apps/frontend/src/pages/management/libs/components/courses-tab/libs/enums/enums.ts
  apps/frontend/src/pages/management/libs/components/courses-tab/styles.module.css
  apps/frontend/src/pages/management/libs/components/table/libs/components/table-cell/styles.module.css
  apps/frontend/src/pages/management/libs/components/table/libs/components/table-cell/table-cell.tsx
  apps/frontend/src/pages/management/libs/constants/links.constant.ts
  apps/frontend/src/pages/management/libs/enums/management-dialogue-message.enum.ts
  apps/frontend/src/pages/management/management.tsx
  apps/frontend/src/pages/management/styles.module.css
  apps/frontend/src/pages/overview/libs/components/add-course-modal/add-course-modal.tsx
  packages/shared/src/index.ts
  packages/shared/src/modules/courses/courses.ts
  packages/shared/src/modules/courses/libs/enums/course-error-message.enum.ts
  packages/shared/src/modules/courses/libs/enums/course-validation-message.enum.ts
  packages/shared/src/modules/courses/libs/enums/course-validation-rule.enum.ts
  packages/shared/src/modules/courses/libs/enums/courses-api-path.enum.ts
  packages/shared/src/modules/courses/libs/enums/enums.ts
  packages/shared/src/modules/courses/libs/types/course-update-request-dto.type.ts
  packages/shared/src/modules/courses/libs/types/types.ts
  packages/shared/src/modules/courses/libs/validation-schemas/course-update.validation-schema.ts
  packages/shared/src/modules/courses/libs/validation-schemas/validation-schemas.ts
Labels: frontend, backend, shared

#625 feat(frontend): add shadows to the components tm-593
  apps/frontend/src/assets/css/scaffolding.css
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/libs/components/course/styles.module.css
  apps/frontend/src/pages/course-description/libs/components/course-activities/styles.module.css
  apps/frontend/src/pages/course-description/libs/components/course-sections/styles.module.css
  apps/frontend/src/pages/course-progress-comparison/libs/components/progress-chart/styles.module.css
  apps/frontend/src/pages/course-progress-comparison/libs/components/section-comparison/styles.module.css
  apps/frontend/src/pages/feed/libs/components/feed-activity/styles.module.css
  apps/frontend/src/pages/friends/libs/components/friend-list/styles.module.css
  apps/frontend/src/pages/notifications/styles.module.css
  apps/frontend/src/pages/overview/libs/components/add-course-modal/styles.module.css
  apps/frontend/src/pages/overview/libs/components/vendor-badge/styles.module.css
Labels: frontend

#633 feat(shared): change default pages count to 12 tm-629
  packages/shared/src/libs/enums/pagination-value.enum.ts
Labels: shared

#636 fix(frontend): Compare progress mobile responsiveness tm-602
  apps/frontend/src/libs/components/circular-progress/styles.module.css
Labels: frontend

#618 feat(backend/frontend/shared): add search functionality to friends page tm-561
  apps/backend/src/modules/friends/friend.controller.ts
  apps/backend/src/modules/friends/friend.repository.ts
  apps/backend/src/modules/friends/friend.service.ts
  apps/backend/src/modules/friends/libs/types/types.ts
  apps/frontend/src/libs/components/search-bar/libs/maps/search-page-path-to-default-value.map.ts
  apps/frontend/src/libs/components/search-bar/search-bar.tsx
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/modules/friends/friends-api.ts
  apps/frontend/src/modules/friends/libs/types/types.ts
  apps/frontend/src/modules/friends/slices/actions.ts
  apps/frontend/src/pages/friends/friends.tsx
  packages/shared/src/index.ts
  packages/shared/src/modules/friends/friends.ts
  packages/shared/src/modules/friends/libs/types/friend-list-request-query-dto.type.ts
  packages/shared/src/modules/friends/libs/types/types.ts
Labels: frontend, backend, shared

#626 feat(frontend): add actions title to button column of tables on the Management page tm-557
  apps/frontend/src/pages/management/libs/components/courses-tab/libs/constants/courses-table-headers.constant.ts
  apps/frontend/src/pages/management/libs/components/courses-tab/libs/enums/courses-table-header.enum.ts
  apps/frontend/src/pages/management/libs/components/groups-tab/groups-tab.tsx
  apps/frontend/src/pages/management/libs/components/groups-tab/libs/constants/groups-table-headers.constant.ts
  apps/frontend/src/pages/management/libs/components/groups-tab/libs/enums/groups-table-header.enum.ts
  apps/frontend/src/pages/management/libs/components/groups-tab/libs/maps/groups-header-to-property-name.map.ts
  apps/frontend/src/pages/management/libs/components/users-tab/libs/constants/users-table-headers.constant.ts
  apps/frontend/src/pages/management/libs/components/users-tab/libs/enums/users-table-header.enum.ts
  apps/frontend/src/pages/management/libs/components/users-tab/libs/maps/users-header-to-property-name.map.ts
  apps/frontend/src/pages/management/libs/components/users-tab/users-tab.tsx
Labels: frontend

#628 feat(backend): delete notification when user unffollow current user tm-608
  apps/backend/src/modules/friends/friend.service.ts
  apps/backend/src/modules/notifications/notification.repository.ts
  apps/backend/src/modules/notifications/notification.service.ts
Labels: backend

#648 feat(frontend): User image on the Chats page should navigate to the Friend profile page tm-635
  apps/frontend/src/pages/chats/libs/components/chat/chat.tsx
Labels: frontend

#647 fix(frontend): buttons should not have hover effect on mobile devices tm-574
  apps/frontend/src/assets/css/media.css
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/course/styles.module.css
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/libs/components/pagination/libs/components/pagination-item/styles.module.css
  apps/frontend/src/libs/components/sidebar/styles.module.css
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
  apps/frontend/src/pages/auth/components/sign-up-form/styles.module.css
  apps/frontend/src/pages/chats/libs/components/chat-link/styles.module.css
  apps/frontend/src/pages/course-description/libs/components/course-details/styles.module.css
  apps/frontend/src/pages/feed/libs/components/feed-activity/styles.module.css
  apps/frontend/src/pages/friends/libs/components/friend/styles.module.css
  apps/frontend/src/pages/management/libs/components/actions-cell/styles.module.css
  apps/frontend/src/pages/management/libs/components/groups-tab/styles.module.css
  apps/frontend/src/pages/notifications/styles.module.css
  apps/frontend/src/pages/overview/libs/components/welcome-section-header/styles.module.css
Labels: frontend

#644 fix(frontend): The display of the extralong names on user components on the "Friends" page tm-637
  apps/frontend/src/pages/friends/libs/components/friend/styles.module.css
Labels: frontend

#643 fix(frontend): fix horizontal scroolbar in add course pop up window tm-632
  apps/frontend/src/assets/css/scaffolding.css
  apps/frontend/src/pages/overview/libs/components/add-course-modal/styles.module.css
Labels: frontend

#599 feat(frontend/backend): add possibility to delete own comments tm-489
  apps/backend/src/libs/helpers/helpers.ts
  apps/backend/src/libs/hooks/check-id-equality/check-id-equality.hook.ts
  apps/backend/src/libs/hooks/hooks.ts
  apps/backend/src/libs/modules/controller/libs/types/controller-route-parameters.type.ts
  apps/backend/src/libs/types/types.ts
  apps/backend/src/modules/comments/comment.controller.ts
  apps/backend/src/modules/comments/comment.service.ts
  apps/backend/src/modules/notifications/notification.service.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/modules/activities/slices/actions.ts
  apps/frontend/src/modules/activities/slices/activities.slice.ts
  apps/frontend/src/modules/activities/slices/activities.ts
  apps/frontend/src/modules/comments/comments-api.ts
  apps/frontend/src/modules/comments/comments.ts
  apps/frontend/src/modules/comments/slices/actions.ts
  apps/frontend/src/modules/comments/slices/comments.slice.ts
  apps/frontend/src/modules/comments/slices/comments.ts
  apps/frontend/src/pages/feed/libs/components/activity-comments/activity-comments.tsx
  apps/frontend/src/pages/feed/libs/components/comment-card/comment-card.tsx
  apps/frontend/src/pages/feed/libs/components/comment-card/styles.module.css
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/exception-message.enum.ts
  packages/shared/src/libs/helpers/get-value-by-path/get-value-by-path.helper.ts
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/libs/types/extract-path.type.ts
  packages/shared/src/libs/types/types.ts
Labels: frontend, backend, shared

#654 fix(frontend): change vendors title to logo tm-558
  apps/frontend/src/pages/management/libs/components/courses-tab/libs/components/course-columns/course-columns.tsx
  apps/frontend/src/pages/management/libs/components/courses-tab/libs/components/course-columns/styles.module.css
Labels: frontend

#640 fix(frontend): The "Log Out" button can't be reached on the sidebar in landscape mode [Mobile] tm-567
  apps/frontend/src/libs/components/sidebar/sidebar.tsx
  apps/frontend/src/libs/components/sidebar/styles.module.css
Labels: frontend

#641 feat(backend): aws ses for mails tm-611
  apps/backend/.env.example
  apps/backend/package.json
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/backend/src/libs/modules/mail/mail.module.ts
  apps/backend/src/libs/modules/mail/mail.ts
  apps/backend/src/modules/files/file.service.ts
  apps/backend/src/modules/files/files.ts
  package-lock.json
  readme.md
Labels: backend, root

#650 feat(backend): the previously send notification should not display if user refollow that user tm-608
  apps/backend/src/modules/notifications/notification.repository.ts
  apps/backend/src/modules/notifications/notification.service.ts
Labels: backend
