Repository BinaryStudioAcademy/bsa-winter-2023-2024-trackmates, pull requests merged in 2024-02, with the labels that each got.

#24 feat: add qa issue templates tm-8
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .ls-lint.yml
Labels: documentation

#38 feat: add protected routing tm-15
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/protected-route/protected-route.tsx
  apps/frontend/src/modules/auth/slices/auth.slice.ts
Labels: frontend, v1

#52 feat: Error handling tm-18
  apps/frontend/package.json
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/notification/notification.tsx
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/modules/notification/libs/enums/enums.ts
  apps/frontend/src/libs/modules/notification/libs/enums/notification-type.enum.ts
  apps/frontend/src/libs/modules/notification/notification.module.ts
  apps/frontend/src/libs/modules/notification/notification.ts
  apps/frontend/src/libs/modules/store/middlewares/handle-error.middleware.ts
  apps/frontend/src/libs/modules/store/middlewares/middlewares.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/enums.ts
  packages/shared/src/libs/enums/exception-message.enum.ts
Labels: frontend, shared

#50 feat: header component tm-20
  apps/frontend/package.json
  apps/frontend/src/assets/css/styles.css
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/auth-wrapper/auth-wrapper.tsx
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/image/image.tsx
  apps/frontend/src/libs/components/image/styles.module.css
  apps/frontend/src/libs/components/link/link.tsx
  apps/frontend/src/libs/components/link/styles.module.css
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/constants/user.constants.ts
  apps/frontend/src/libs/helpers/get-valid-class-names/get-valid-class-names.helper.ts
  apps/frontend/src/libs/helpers/helpers.ts
  package-lock.json
Labels: frontend

#64 feat: add not found page tm-23
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/assets/img/question-character.svg
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/pages/not-found/not-found.tsx
  apps/frontend/src/pages/not-found/styles.module.css
Labels: frontend

#70 fix: get authenticated user tm-16
  apps/frontend/src/modules/auth/slices/actions.ts
Labels: frontend

#67 feat: authorization token tm-13
  apps/backend/.env.example
  apps/backend/package.json
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/backend/src/libs/modules/token/base-token.module.ts
  apps/backend/src/libs/modules/token/libs/types/token.type.ts
  apps/backend/src/libs/modules/token/libs/types/types.ts
  apps/backend/src/libs/modules/token/token.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/users/libs/types/types.ts
  apps/backend/src/modules/users/user.service.ts
  apps/backend/src/modules/users/users.ts
  apps/frontend/src/modules/auth/slices/actions.ts
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/libs/types/token-payload.type.ts
  packages/shared/src/libs/types/types.ts
  packages/shared/src/modules/users/libs/types/user-sign-in-response-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-sign-up-response-dto.type.ts
Labels: frontend, backend, shared

#51 feat: sing-in frontend tm-10
  apps/frontend/src/assets/img/sign-in-img.png
  apps/frontend/src/assets/img/svg/auth-circle-logo.svg
  apps/frontend/src/assets/img/svg/background-cloud-five.svg
  apps/frontend/src/assets/img/svg/background-cloud-four.svg
  apps/frontend/src/assets/img/svg/background-cloud-one.svg
  apps/frontend/src/assets/img/svg/background-cloud-three.svg
  apps/frontend/src/assets/img/svg/background-cloud-two.svg
  apps/frontend/src/assets/img/svg/background-sun.svg
  apps/frontend/src/assets/img/svg/tail.svg
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/libs/components/link/link.tsx
  apps/frontend/src/modules/auth/auth-api.ts
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/modules/auth/slices/auth.ts
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/users/users.ts
  apps/frontend/src/pages/auth/auth.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/libs/constants.ts
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
  apps/frontend/src/pages/auth/styles.module.css
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-rule.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-in.validation-schema.ts
Labels: frontend

#73 fix: change issue templates to match conventional commits tm-72
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: qa

#66 feat: add sign up client tm-12
  apps/frontend/src/assets/img/sign-up-img.png
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/styles.module.css
  apps/frontend/src/pages/auth/styles.module.css
  package-lock.json
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-rule.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: frontend

#81 feat: update app logo tm-78
  apps/frontend/src/assets/img/svg/auth-circle-logo.svg
Labels: frontend

#54 feat: protected routing tm-14
  apps/backend/index.d.ts
  apps/backend/package.json
  apps/backend/src/libs/enums/enums.ts
  apps/backend/src/libs/enums/fastify-hook.enum.ts
  apps/backend/src/libs/modules/controller/base-controller.module.ts
  apps/backend/src/libs/modules/controller/libs/types/api-handler-options.type.ts
  apps/backend/src/libs/modules/http/http.ts
  apps/backend/src/libs/modules/http/libs/enums/enums.ts
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/modules/server-application/libs/constants/constants.ts
  apps/backend/src/libs/modules/server-application/libs/constants/white-routes.constant.ts
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/libs/plugins/authorization.plugin.ts
  apps/backend/src/libs/plugins/libs/helpers/check-if-white-route.helper.ts
  apps/backend/src/libs/plugins/libs/helpers/get-api-endpoint.helper.ts
  apps/backend/src/libs/plugins/libs/helpers/helpers.ts
  apps/backend/src/libs/plugins/plugins.ts
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/auth/auth.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.ts
  apps/backend/src/modules/users/users.ts
  apps/backend/tsconfig.json
  package-lock.json
  packages/shared/src/libs/enums/exception-message.enum.ts
Labels: backend

#83 fix: header component tm-20
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/auth-wrapper/auth-wrapper.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/protected-route/protected-route.tsx
Labels: frontend

#46 feat: get authenticated user tm-19
  apps/backend/src/libs/modules/controller/libs/types/api-handler-options.type.ts
  apps/backend/src/modules/users/user.entity.ts
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
Labels: backend

#74 feat: add welcome section header tm-25
  apps/frontend/package.json
  apps/frontend/src/assets/img/svg/plus.svg
  apps/frontend/src/assets/img/svg/welcome-character.svg
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/icon/icon.tsx
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/icon/libs/maps/maps.ts
  apps/frontend/src/libs/components/icon/libs/types/icon-name.type.ts
  apps/frontend/src/libs/components/icon/libs/types/types.ts
  apps/frontend/src/pages/overview/libs/components/components.ts
  apps/frontend/src/pages/overview/libs/components/welcome-section-header/styles.module.css
  apps/frontend/src/pages/overview/libs/components/welcome-section-header/welcome-section-header.tsx
  apps/frontend/src/pages/overview/overview.tsx
  apps/frontend/src/vite-env.d.ts
  apps/frontend/vite.config.ts
  package-lock.json
  packages/shared/src/modules/users/libs/types/user-auth-response-dto.type.ts
Labels: frontend

#87 fix: update app logo tm-78
  apps/frontend/src/pages/auth/auth.tsx
  apps/frontend/src/pages/auth/styles.module.css
Labels: frontend

#69 feat: enable pwa tm-22
  apps/frontend/index.html
  apps/frontend/package.json
  apps/frontend/public/assets/android-chrome-192x192.png
  apps/frontend/public/assets/android-chrome-512x512.png
  apps/frontend/public/assets/apple-touch-icon.png
  apps/frontend/public/assets/favicon-16x16.png
  apps/frontend/public/assets/favicon-32x32.png
  apps/frontend/public/assets/favicon.ico
  apps/frontend/public/assets/mstile-150x150.png
  apps/frontend/public/assets/safari-pinned-tab.svg
  apps/frontend/public/assets/screen-desk-1440-1024.jpg
  apps/frontend/public/assets/screen-desk.png
  apps/frontend/public/assets/screen-mobile.png
  apps/frontend/public/browserconfig.xml
  apps/frontend/vite.config.ts
  package-lock.json
Labels: frontend

#76 feat: auth screen mobile responsiveness tm-56
  apps/frontend/src/assets/img/svg/auth-circle-mobile-logo.svg
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/pages/auth/auth.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
  apps/frontend/src/pages/auth/components/sign-up-form/styles.module.css
  apps/frontend/src/pages/auth/styles.module.css
Labels: frontend

#86 fix: layout for sign in page and validation messages tm-10
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/pages/auth/styles.module.css
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-rule.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-in.validation-schema.ts
Labels: frontend

#79 feat: course component tm-26
  apps/frontend/src/assets/img/mock-course-background.png
  apps/frontend/src/assets/img/react.svg
  apps/frontend/src/assets/img/svg/udemy-logo.svg
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/course/course.tsx
  apps/frontend/src/libs/components/course/styles.module.css
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/constants/course.constants.ts
  apps/frontend/src/libs/constants/courses.constants.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/pages/overview/libs/components/components.ts
  apps/frontend/src/pages/overview/libs/components/courses/courses.tsx
  apps/frontend/src/pages/overview/libs/components/courses/styles.module.css
  apps/frontend/src/pages/overview/overview.tsx
  apps/frontend/src/pages/overview/styles.module.css
  packages/shared/src/index.ts
  packages/shared/src/modules/courses/courses.ts
  packages/shared/src/modules/courses/libs/types/course.type.ts
  packages/shared/src/modules/courses/libs/types/types.ts
Labels: frontend

#68 feat: add sidebar tm-21
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/assets/img/svg/home.svg
  apps/frontend/src/libs/components/auth-wrapper/auth-wrapper.tsx
  apps/frontend/src/libs/components/auth-wrapper/styles.module.css
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/icon/icon.tsx
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/icon/libs/types/icon-name.type.ts
  apps/frontend/src/libs/components/icon/libs/types/types.ts
  apps/frontend/src/libs/components/image/image.tsx
  apps/frontend/src/libs/components/sidebar/sidebar.tsx
  apps/frontend/src/libs/components/sidebar/styles.module.css
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/constants/menu-items.constants.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/libs/types/menu-item.type.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/libs/types/value-of.type.ts
Labels: frontend

#91 feat: enable PWA tm-22
  apps/frontend/public/assets/screen-desk-1440-1024.png
  apps/frontend/public/assets/screen-mobile.png
  apps/frontend/public/assets/screen-tablet.png
  apps/frontend/vite.config.ts
Labels: frontend

#88 feat: add udemy module tm-65
  apps/backend/.env.example
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/backend/src/libs/modules/http/base-http.module.ts
  apps/backend/src/libs/modules/http/http.ts
  apps/backend/src/libs/modules/http/libs/enums/enums.ts
  apps/backend/src/libs/modules/http/libs/types/types.ts
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/libs/modules/udemy/libs/enums/course-details-field.enum.ts
  apps/backend/src/libs/modules/udemy/libs/enums/course-field.enum.ts
  apps/backend/src/libs/modules/udemy/libs/enums/enums.ts
  apps/backend/src/libs/modules/udemy/libs/enums/udemy-default-search-parameter.enum.ts
  apps/backend/src/libs/modules/udemy/udemy.module.ts
  apps/backend/src/libs/modules/udemy/udemy.ts
  apps/backend/src/modules/courses/course.controller.ts
  apps/backend/src/modules/courses/course.service.ts
  apps/backend/src/modules/courses/courses.ts
  apps/backend/src/modules/courses/libs/enums/enums.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/api-path.enum.ts
  packages/shared/src/libs/modules/http/libs/types/http-options.type.ts
  packages/shared/src/modules/courses/courses.ts
  packages/shared/src/modules/courses/libs/enums/courses-api-path.enum.ts
  packages/shared/src/modules/courses/libs/enums/enums.ts
Labels: backend

#89 feat: hide/show password functionality on sign-in/up page tm-71
  apps/frontend/src/assets/img/svg/eye-off.svg
  apps/frontend/src/assets/img/svg/eye.svg
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/styles.module.css
Labels: frontend

#90 feat: sidebar mobile responsiveness tm-59
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/assets/img/svg/burger.svg
  apps/frontend/src/libs/components/blurred-background/blurred-background.tsx
  apps/frontend/src/libs/components/blurred-background/styles.module.css
  apps/frontend/src/libs/components/icon/icon.tsx
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/icon/styles.module.css
  apps/frontend/src/libs/components/sidebar/sidebar.tsx
  apps/frontend/src/libs/components/sidebar/styles.module.css
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/libs/types/menu-item.type.ts
Labels: frontend

#96 fix: welcome section header tm-25
  apps/frontend/src/libs/components/auth-wrapper/styles.module.css
  apps/frontend/src/pages/overview/libs/components/courses/styles.module.css
  apps/frontend/src/pages/overview/libs/components/welcome-section-header/styles.module.css
  apps/frontend/src/pages/overview/styles.module.css
Labels: frontend

#102 build: add pr labeler tm-101
  .github/labeler.yml
  .github/workflows/ci-pr.yml
Labels: workflows

#97 build: continuous delivery tm-3
  .github/workflows/cd.yml
  apps/backend/package.json
  apps/backend/src/libs/modules/database/base-database.module.ts
  apps/backend/src/libs/plugins/libs/helpers/check-if-white-route.helper.ts
  apps/frontend/package.json
  package-lock.json
  package.json
  packages/shared/package.json
  packages/shared/src/libs/enums/app-environment.enum.ts
  prepare-build.sh
  readme.md
Labels: frontend, backend, shared, root, workflows

#84 feat: create friend component tm-82
  apps/frontend/src/assets/img/svg/add.svg
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/constants/friend.constants.ts
  apps/frontend/src/libs/constants/friends.constants.ts
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/pages/friends/components/components.ts
  apps/frontend/src/pages/friends/components/friend/friend.tsx
  apps/frontend/src/pages/friends/components/friend/styles.module.css
  apps/frontend/src/pages/friends/friends.tsx
  apps/frontend/src/pages/friends/styles.module.css
  packages/shared/src/index.ts
  packages/shared/src/modules/friends/friends.ts
  packages/shared/src/modules/friends/libs/types/friend-dto.type.ts
  packages/shared/src/modules/friends/libs/types/types.ts
Labels: frontend, shared

#98 feat: Overview screen mobile responsiveness tm-61
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/auth-wrapper/styles.module.css
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/course/styles.module.css
  apps/frontend/src/libs/components/courses/courses.tsx
  apps/frontend/src/libs/components/courses/styles.module.css
  apps/frontend/src/libs/components/sidebar/styles.module.css
  apps/frontend/src/pages/overview/libs/components/components.ts
  apps/frontend/src/pages/overview/libs/components/courses/styles.module.css
  apps/frontend/src/pages/overview/libs/components/welcome-section-header/styles.module.css
  apps/frontend/src/pages/overview/libs/components/welcome-section-header/welcome-section-header.tsx
  apps/frontend/src/pages/overview/overview.tsx
  apps/frontend/src/pages/overview/styles.module.css
Labels: frontend

#100 fix: "User not found" error when an authorized user is trying to navigate to the root page tm-95
  .gitignore
  apps/backend/src/libs/plugins/authorization.plugin.ts
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/modules/users/users-api.ts
  packages/shared/src/libs/enums/exception-message.enum.ts
Labels: frontend, backend, shared

#106 fix: add sidebar tm-21
  apps/frontend/src/assets/img/website-logo.png
  apps/frontend/src/libs/components/sidebar/sidebar.tsx
  apps/frontend/src/libs/components/sidebar/styles.module.css
Labels: frontend

#107 build: fix release-please action tm-3
  .github/workflows/cd.yml
  .release-please-manifest.json
  release-please-config.json
Labels: root, workflows

#93 fix: sign up client tm-12
  apps/frontend/src/assets/img/svg/auth-circle-mobile-logo.svg
  apps/frontend/src/assets/img/svg/logo.svg
  apps/frontend/src/assets/img/svg/mobile-logo.svg
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/pages/auth/auth.tsx
  apps/frontend/src/pages/auth/styles.module.css
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-rule.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: frontend, shared

#109 fix: the extra space at the top of the pages tm-104
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/modules/users/libs/enums/enums.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/users.ts
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/modules/users/libs/enums/enums.ts
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/modules/users/slices/users.slice.ts
  apps/frontend/src/modules/users/slices/users.ts
  apps/frontend/src/modules/users/users-api.ts
  apps/frontend/src/modules/users/users.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/users/libs/enums/enums.ts
  packages/shared/src/modules/users/libs/enums/users-api-path.enum.ts
  packages/shared/src/modules/users/libs/types/types.ts
  packages/shared/src/modules/users/users.ts
Labels: frontend, backend, shared

#116 fix: nav bar position change tm-114
  apps/frontend/src/libs/components/sidebar/styles.module.css
Labels: frontend

#119 ci: update dangerfile PR title tm-117
  .prettierignore
  dangerfile.ts
Labels: root

#123 feat(frontend): change auth mobile responsiveness tm-56
  apps/frontend/src/assets/img/svg/auth-circle-mobile-logo.svg
  apps/frontend/src/assets/img/svg/mobile-logo.svg
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/pages/auth/auth.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/styles.module.css
  apps/frontend/src/pages/auth/styles.module.css
Labels: frontend

#127 chore(frontend): Create Friend component tm-82
  apps/frontend/src/pages/friends/components/friend/friend.tsx
Labels: frontend

#125 fix(frontend): The Overview page doesn't occupy 100% of the screen height tm-121
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/auth-wrapper/styles.module.css
Labels: frontend

#137 fix(frontend): Create Friend component tm-82
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/pages/friends/components/friend/styles.module.css
  apps/frontend/src/pages/friends/styles.module.css
Labels: frontend

#129 fix(backend): fix swagger issue in deployed application tm-128
  apps/backend/src/libs/modules/server-application/base-server-application-api.ts
Labels: backend

#141 fix(frontend): fix mobile design for header and welcome section, button label tm-61
  apps/frontend/src/libs/components/courses/styles.module.css
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/sidebar/styles.module.css
  apps/frontend/src/pages/overview/libs/components/welcome-section-header/styles.module.css
  apps/frontend/src/pages/overview/libs/components/welcome-section-header/welcome-section-header.tsx
  apps/frontend/src/pages/overview/styles.module.css
Labels: frontend

#140 fix(frontend): Create Friend component tm-82
  apps/frontend/src/assets/img/svg/add.svg
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/pages/friends/components/friend/styles.module.css
  apps/frontend/src/pages/friends/styles.module.css
Labels: frontend

#147 fix(frontend): add public route for signin signup tm-145
  apps/frontend/eslint.config.js
  apps/frontend/src/pages/auth/auth.tsx
Labels: frontend

#99 feat: aws s3 integration tm-41
  apps/backend/.env.example
  apps/backend/index.d.ts
  apps/backend/package.json
  apps/backend/src/db/migrations/20240217102441_add_files_table.ts
  apps/backend/src/libs/constants/constants.ts
  apps/backend/src/libs/enums/enums.ts
  apps/backend/src/libs/enums/fastify-hook.enum.ts
  apps/backend/src/libs/helpers/helpers.ts
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/backend/src/libs/modules/controller/base-controller.module.ts
  apps/backend/src/libs/modules/controller/libs/types/api-handler-options.type.ts
  apps/backend/src/libs/modules/database/libs/enums/database-table-name.enum.ts
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/libs/plugins/file-upload/file-upload.plugin.ts
  apps/backend/src/libs/plugins/plugins.ts
  apps/backend/src/libs/types/repository.type.ts
  apps/backend/src/libs/types/service.type.ts
  apps/backend/src/modules/files/file.controller.ts
  apps/backend/src/modules/files/file.entity.ts
  apps/backend/src/modules/files/file.model.ts
  apps/backend/src/modules/files/file.repository.ts
  apps/backend/src/modules/files/file.service.ts
  apps/backend/src/modules/files/files.ts
  apps/backend/src/modules/files/libs/enums/enums.ts
  apps/backend/src/modules/files/libs/exceptions/exceptions.ts
  apps/backend/src/modules/files/libs/types/types.ts
  apps/backend/src/modules/files/libs/types/uploaded-file.type.ts
  apps/backend/src/modules/users/libs/enums/enums.ts
  apps/backend/src/modules/users/libs/enums/relation-name.enum.ts
  apps/backend/src/modules/users/libs/exceptions/exceptions.ts
  apps/backend/src/modules/users/user-details.model.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.ts
  apps/backend/src/modules/users/users.ts
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/libs/constants/constants.ts
  packages/shared/src/libs/constants/max-file-size.constant.ts
  packages/shared/src/libs/enums/api-path.enum.ts
  packages/shared/src/libs/enums/content-type.enum.ts
  packages/shared/src/libs/enums/exception-message.enum.ts
  packages/shared/src/libs/helpers/get-size-in-bytes/get-size-in-bytes.helper.ts
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/modules/files/files.ts
  packages/shared/src/modules/files/libs/enums/enums.ts
  packages/shared/src/modules/files/libs/enums/files-api-path.enum.ts
  packages/shared/src/modules/files/libs/exceptions/exceptions.ts
  packages/shared/src/modules/files/libs/exceptions/file-error.ts
  packages/shared/src/modules/files/libs/types/file-upload-response-dto.ts
  packages/shared/src/modules/files/libs/types/types.ts
  packages/shared/src/modules/users/libs/exceptions/exceptions.ts
  packages/shared/src/modules/users/libs/exceptions/user-error.ts
  packages/shared/src/modules/users/users.ts
Labels: backend, shared, root

#152 ci: use commitlint action instead of script tm-151
  .github/workflows/ci-pr.yml
  package-lock.json
  package.json
Labels: root, workflows

#162 fix(backend): swagger for auth routes has errors tm-130
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/users/user.controller.ts
Labels: backend

#154 fix(frontend): make roboto global font style tm-143
  apps/frontend/src/assets/css/fonts/roboto.css
  apps/frontend/src/assets/css/scaffolding.css
  apps/frontend/src/assets/fonts/roboto/Roboto-Bold.ttf
  apps/frontend/src/assets/fonts/roboto/Roboto-Medium.ttf
  apps/frontend/src/assets/fonts/roboto/Roboto-Regular.ttf
  apps/frontend/src/libs/components/course/styles.module.css
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/pages/auth/styles.module.css
  apps/frontend/src/pages/friends/libs/components/friend/styles.module.css
  apps/frontend/src/pages/overview/styles.module.css
Labels: frontend

#169 fix(frontend): sidebar mobile pwa tm-139
  apps/frontend/src/libs/components/sidebar/sidebar.tsx
  apps/frontend/src/libs/components/sidebar/styles.module.css
  apps/frontend/src/pages/overview/styles.module.css
Labels: frontend

#155 fix(frontend/backend/shared): Auth Page fields validations, error messages and design issues according to the updated specification tm-131
  apps/backend/src/modules/auth/auth.service.ts
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
  apps/frontend/src/pages/auth/components/sign-up-form/styles.module.css
  packages/shared/src/libs/enums/exception-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-rule.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-profile.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: frontend, backend, shared

#149 fix(frontend/backend/shared): fix user details screen tm-42
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/modules/notification/libs/enums/notification-message.enum.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/modules/files/files-api.ts
  apps/frontend/src/modules/files/files.ts
  apps/frontend/src/modules/files/libs/enums/enums.ts
  apps/frontend/src/modules/files/libs/types/type.ts
  apps/frontend/src/modules/files/slices/actions.ts
  apps/frontend/src/modules/files/slices/files.slice.ts
  apps/frontend/src/modules/files/slices/files.ts
  apps/frontend/src/modules/users/enums/enums.ts
  apps/frontend/src/modules/users/enums/notification-message.enum.ts
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/modules/users/slices/users.ts
  apps/frontend/src/modules/users/users-api.ts
  apps/frontend/src/pages/profile/profile.tsx
  apps/frontend/src/pages/profile/styles.module.css
  packages/shared/src/modules/files/libs/types/file-upload-response-dto.ts
  packages/shared/src/modules/users/libs/enums/users-api-path.enum.ts
Labels: frontend, backend, shared

#175 fix(frontend): Auth Page fields validations, error messages and design issues according to the updated specification tm-131
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/styles.module.css
Labels: frontend

#176 fix(frontend): update input style tm-42
  apps/frontend/src/libs/components/input/styles.module.css
Labels: frontend

#177 feat(frontend): Add Log Out button to the sidebar tm-156
  apps/frontend/src/assets/img/svg/log-out.svg
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/sidebar/sidebar.tsx
  apps/frontend/src/libs/components/sidebar/styles.module.css
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/modules/auth/slices/auth.ts
Labels: frontend

#184 feat(frontend): Add friends page mobile responsiveness tm-157
  apps/frontend/src/pages/friends/libs/components/friend-list/styles.module.css
  apps/frontend/src/pages/friends/styles.module.css
Labels: frontend

#105 feat: create friends functionality tm-39
  apps/backend/src/db/migrations/20240215141622_create_friends_table.ts
  apps/backend/src/libs/modules/database/libs/enums/database-table-name.enum.ts
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/modules/friends/friend.controller.ts
  apps/backend/src/modules/friends/friend.repository.ts
  apps/backend/src/modules/friends/friend.service.ts
  apps/backend/src/modules/friends/friends.ts
  apps/backend/src/modules/friends/libs/enums/enums.ts
  apps/backend/src/modules/friends/libs/types/types.ts
  apps/backend/src/modules/friends/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/users/user.model.ts
  apps/frontend/src/modules/friends/friends-api.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/friends/friends.ts
  packages/shared/src/modules/friends/libs/enums/enums.ts
  packages/shared/src/modules/friends/libs/enums/friend-error-message.enum.ts
  packages/shared/src/modules/friends/libs/enums/friend-request-validation-message.enum.ts
  packages/shared/src/modules/friends/libs/enums/friends-api-path.enum.ts
  packages/shared/src/modules/friends/libs/exceptions/exceptions.ts
  packages/shared/src/modules/friends/libs/exceptions/friend-error/friend-error.exception.ts
  packages/shared/src/modules/friends/libs/validation-schemas/add-friend.validation-schema.ts
  packages/shared/src/modules/friends/libs/validation-schemas/friend-id-parameters.validation-schema.ts
  packages/shared/src/modules/friends/libs/validation-schemas/validation-schemas.ts
  readme.md
Labels: frontend, backend, shared, root

#192 fix(frontend): header and course list mobile tm-61
  apps/frontend/src/libs/components/courses/styles.module.css
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/pages/overview/styles.module.css
Labels: frontend

#193 fix(backend): fix error with uploading tiff and bmp format files tm-189
  apps/backend/src/libs/plugins/file-upload/file-upload.plugin.ts
  apps/backend/src/modules/files/file.controller.ts
Labels: backend

#191 fix(frontend): add friends screen tm-94
  apps/frontend/src/pages/friends/libs/components/friend/friend.tsx
Labels: frontend

#190 fix(shared): Auth Page fields validations, error messages and design issues according to the updated specification tm-131
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: shared

#201 fix(shared): Auth Page fields validations, error messages and design issues according to the updated specification tm-131
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-rule.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: shared

#200 fix(backend): create friends functionality tm-39
  apps/backend/src/modules/friends/friend.controller.ts
  apps/backend/src/modules/friends/friend.repository.ts
Labels: backend

#179 feat(frontend/backend/shared): Search courses tm-55
  apps/backend/src/modules/courses/course.repository.ts
  apps/backend/src/modules/courses/course.service.ts
  apps/backend/src/modules/user-courses/user-course.controller.ts
  apps/backend/src/modules/user-courses/user-course.service.ts
  apps/frontend/src/assets/img/svg/search.svg
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/icon/icon.tsx
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/libs/components/search-bar/search-bar.tsx
  apps/frontend/src/libs/components/search-bar/styles.module.css
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/modules/courses/courses.ts
  apps/frontend/src/modules/courses/libs/constants/constants.ts
  apps/frontend/src/modules/courses/libs/constants/default-search-my-courses-payload.ts
  apps/frontend/src/modules/courses/libs/constants/search-courses-delay-ms.constant.ts
  apps/frontend/src/modules/courses/libs/types/types.ts
  apps/frontend/src/modules/user-courses/slices/actions.ts
  apps/frontend/src/modules/user-courses/user-courses-api.ts
  apps/frontend/src/pages/overview/libs/constants/constants.ts
  apps/frontend/src/pages/overview/overview.tsx
Labels: frontend, backend

#134 feat(backend/shared): add AI integration tm-43
  apps/backend/.env.example
  apps/backend/package.json
  apps/backend/src/libs/exceptions/exceptions.ts
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/backend/src/libs/modules/open-ai/libs/constants/constants.ts
  apps/backend/src/libs/modules/open-ai/libs/constants/default-temperature-value.constant.ts
  apps/backend/src/libs/modules/open-ai/libs/enums/enums.ts
  apps/backend/src/libs/modules/open-ai/libs/enums/open-ai-error-message.enum.ts
  apps/backend/src/libs/modules/open-ai/libs/exceptions/exceptions.ts
  apps/backend/src/libs/modules/open-ai/libs/exceptions/open-ai-error.exception.ts
  apps/backend/src/libs/modules/open-ai/open-ai.module.ts
  apps/backend/src/libs/modules/open-ai/open-ai.ts
  apps/backend/src/modules/courses/course.controller.ts
  apps/backend/src/modules/courses/course.service.ts
  apps/backend/src/modules/courses/courses.ts
  package-lock.json
  packages/shared/src/modules/courses/libs/enums/courses-api-path.enum.ts
Labels: backend, shared, root

#178 feat(frontend): add mobile responsiveness to add course modal tm-62
  apps/frontend/src/libs/components/course/course.tsx
  apps/frontend/src/libs/components/course/styles.module.css
  apps/frontend/src/libs/components/courses/styles.module.css
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/modal/styles.module.css
  apps/frontend/src/pages/overview/libs/components/add-course-modal/styles.module.css
  apps/frontend/src/pages/overview/styles.module.css
  package-lock.json
Labels: frontend, root

#216 fix(frontend): friends page mobile responsiveness tm-157
  apps/frontend/src/pages/friends/libs/components/friend/friend.tsx
  apps/frontend/src/pages/friends/libs/components/friend/styles.module.css
Labels: frontend

#223 fix(frontend): sidebar is scrollable on the overview and friends pages tm-219
  apps/frontend/src/libs/components/auth-wrapper/styles.module.css
  apps/frontend/src/libs/components/sidebar/styles.module.css
Labels: frontend

#182 fix(frontend): sidebar only the button representing active page should be active tm-174
  apps/frontend/src/assets/img/svg/home.svg
  apps/frontend/src/assets/img/svg/log-out.svg
  apps/frontend/src/assets/img/svg/pie.svg
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/course/course.tsx
  apps/frontend/src/libs/components/icon/styles.module.css
  apps/frontend/src/libs/components/link/link.tsx
  apps/frontend/src/libs/components/modal/modal.tsx
  apps/frontend/src/libs/components/sidebar/sidebar.tsx
  apps/frontend/src/libs/components/sidebar/styles.module.css
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  apps/frontend/src/pages/friends/libs/components/friend/friend.tsx
  apps/frontend/src/pages/not-found/not-found.tsx
  apps/frontend/src/pages/profile/profile.tsx
Labels: frontend

#226 fix(frontend): Search courses tm-55
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/libs/components/search-bar/search-bar.tsx
Labels: frontend

#236 fix(frontend): background color for auth on autofill tm-233
  apps/frontend/src/libs/components/input/styles.module.css
  package-lock.json
Labels: frontend, root

#214 fix(frontend): add friends screen tm-94
  apps/frontend/src/modules/friends/slices/friends.slice.ts
  apps/frontend/src/pages/friends/friends.tsx
  apps/frontend/src/pages/friends/libs/components/friend/friend.tsx
Labels: frontend

#245 feat(backend): organize controllers on Swagger into corresponding sections tm-218
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/chat-messages/chat-message.controller.ts
  apps/backend/src/modules/chats/chat.controller.ts
  apps/backend/src/modules/course-sections/course-section.controller.ts
  apps/backend/src/modules/courses/course.controller.ts
  apps/backend/src/modules/files/file.controller.ts
  apps/backend/src/modules/friends/friend.controller.ts
  apps/backend/src/modules/user-courses/user-course.controller.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/vendors/vendor.controller.ts
Labels: backend

#242 ci: update dangerfile pr title regex tm-1
  dangerfile.ts
  project.config.ts
Labels: root

#220 feat(frontend/backend/shared): add nickname field for user tm-183
  apps/backend/src/db/migrations/20240226103757_add_nickname_column.ts
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/chat-messages/chat-message.repository.ts
  apps/backend/src/modules/chats/chat.repository.ts
  apps/backend/src/modules/friends/friend.repository.ts
  apps/backend/src/modules/users/user-details.model.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/user.entity.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.ts
  apps/frontend/src/pages/profile/profile.tsx
  packages/shared/src/libs/enums/exception-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-rule.enum.ts
  packages/shared/src/modules/users/libs/types/user-auth-response-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-profile-request-dto.type.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-profile.validation-schema.ts
  readme.md
Labels: frontend, backend, shared, root

#243 fix(frontend): the icons on the sidebar buttons are not vertically centered tm-235
  apps/frontend/src/libs/components/sidebar/sidebar.tsx
  apps/frontend/src/libs/components/sidebar/styles.module.css
Labels: frontend

#207 feat(frontend/shared/backend): Add Friend page tm-40
  apps/backend/src/libs/types/types.ts
  apps/backend/src/modules/friends/friend.controller.ts
  apps/backend/src/modules/friends/friend.repository.ts
  apps/backend/src/modules/friends/friend.service.ts
  apps/backend/src/modules/users/libs/types/types.ts
  apps/backend/src/modules/users/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/user.service.ts
  apps/frontend/src/assets/icons/back.svg
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/course/course.tsx
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/modules/friends/friends-api.ts
  apps/frontend/src/modules/friends/slices/actions.ts
  apps/frontend/src/modules/friends/slices/friends.slice.ts
  apps/frontend/src/modules/friends/slices/friends.ts
  apps/frontend/src/modules/user-courses/slices/actions.ts
  apps/frontend/src/modules/user-courses/slices/user-courses.slice.ts
  apps/frontend/src/modules/user-courses/slices/user-courses.ts
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/modules/users/slices/users.slice.ts
  apps/frontend/src/modules/users/slices/users.ts
  apps/frontend/src/modules/users/users-api.ts
  apps/frontend/src/modules/users/users.ts
  apps/frontend/src/pages/friends/libs/components/friend/friend.tsx
  apps/frontend/src/pages/friends/libs/components/friend/styles.module.css
  apps/frontend/src/pages/overview/overview.tsx
  apps/frontend/src/pages/user/styles.module.css
  apps/frontend/src/pages/user/user.tsx
  packages/shared/src/index.ts
  packages/shared/src/modules/friends/libs/enums/friends-api-path.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/enums/users-api-path.enum.ts
  packages/shared/src/modules/users/libs/types/types.ts
  packages/shared/src/modules/users/libs/types/user-get-by-id-request-dto.type.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-id-parameters.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/users/users.ts
Labels: frontend, backend, shared

#250 fix(backend): organize controllers on Swagger into corresponding sections tm-218
  apps/backend/src/modules/chat-messages/chat-message.controller.ts
Labels: backend

#253 fix(backend): Add Friend page tm-40
  apps/backend/src/modules/users/user.controller.ts
Labels: backend

#221 fix(frontend/shared): fix Profile screen tm-42
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/image/styles.module.css
  apps/frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  apps/frontend/src/libs/modules/notification/libs/enums/notification-message.enum.ts
  apps/frontend/src/modules/files/slices/actions.ts
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/pages/profile/profile.tsx
  apps/frontend/src/pages/profile/styles.module.css
  packages/shared/src/modules/users/libs/validation-schemas/user-profile.validation-schema.ts
Labels: frontend, shared
